<skyhook-preview [allBackends]="true">
  <ng-template let-item="item">
    <ng-container *ngIf="item.isInternal || item.hover.listId === 'control_center'">
      <app-device-player [controlCenter]="item.data" [isPreview]="true"></app-device-player>
    </ng-container>
  </ng-template>
</skyhook-preview>

<div class="container-fluid control-center-container">
  <div class="row">
    <div class="d-flex flex-row align-items-center flex-fill col-lg-12">
      <div>
        <span class="control-center-title">Control Center</span>
      </div>
      <div class="device-status" *ngIf="controlCenterList.length > 0">
        <span>STATUS</span>
        <ul class="status-bar">
          <li *ngFor="let controlCenter of controlCenterList" [ngClass]="{'green': controlCenter.IsOnline, 'red': !controlCenter.IsOnline}"></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="control-center-body">
        <div>
          <button class="add-device" (click)="openPlayerSetup()">
            <img src="../../../../assets/images/plus-icon.svg" /> Add
          </button>
        </div>

        <div class="mt-3" *ngIf="isLoading && controlCenterList.length === 0">Loading...</div>

        <div *ngIf="controlCenterList.length > 0">
          <!-- <div class="mt-2" style="color:red;">
          Note: For demo purpose, some devices are kept offline for fixed time since offline
        </div> -->
          <div>
            <!-- infinite-scroll [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle"
          [scrollWindow]="false" (scrolled)="onScrollDownControlCenterList($event)" -->
            <skyhook-sortable-list #sortable ssSortableListId="control_center" [ssSortableChildren]="controlCenterListTemp"
              [ssSortableSpec]="controlCenterDeviceSpec">
              <ng-template ssTemplate let-context>
                <div class="priority" [class.priority--placeholder]="render.isDragging$|async" [dragPreview]="render.source"
                  [dragSource]="render?.source" [noHTML5Preview]="true" [ssRender]="context" #render="ssRender">
                  <app-device-player (mouseenter)="render.data.Checked = true" (mouseleave)="render.data.Checked = false"
                    [index]="render.index" [controlCenter]="render.data" (openPlayerSetup)="openPlayerSetup($event)">

                  </app-device-player>
                </div>
              </ng-template>
            </skyhook-sortable-list>
          </div>
        </div>
        <div class="mt-3" *ngIf="!isLoading && controlCenterList.length === 0">
          No data available
        </div>
      </div>
    </div>
  </div>
</div>