.control-center-container {
    margin-top: 27px;
    margin-bottom: 70px;
}

.control-center-title {
    font-size: 34px;
    font-family: Georgia;
}

.control-center-body{
    margin-top: 20px;
    margin-bottom: 40px;
    margin-right: 0px;
    min-height: 60px;
    position: relative;
}

.control-center-add-box {
    position: relative;
    background-color: #F2F2F2;
    border-radius: 4px;
    box-shadow: 0px 3px 7px #D9D8D8;
    height: 78px;
    width: 88px;
    margin-top: 26px;
    margin-left: 12px;
    cursor: pointer;
}

.control-center-add-container {
    position: absolute;
    top: 46%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    left: 42%;
}

.control-center-body button.add-device {
    height: 30px;
    width: 73px;
    text-align: center;
    background-color: transparent;
    border: 1px solid #222222;
    border-radius: 22px;
    font-size: 14px;
    cursor: pointer;
  }
  .control-center-body button.add-device:focus {
    outline: none;
  }
  .control-center-body button.add-device img {
    margin-top: -2px;
    margin-left: -1px;
  }

.priority {
    margin-top: 26px;
    width: 100%;
    background-color: #FFFFFF;
}
:host ::ng-deep .priority--placeholder .device-row {
    opacity: 0.8;
    /* background-color: #f2f2f2; */
}

.device-status {
    display: flex;
    align-items: center;
    margin-left: 135px;
  }
  .device-status ul.status-bar li {
    float: left;
    width: 10px;
    height: 20px;
    margin-right: 1px;
  }
  .device-status span {
    color: #afafaf;
    font-size: 10px;
    margin-right: 8px;
    line-height: initial;
    letter-spacing: 1px;
  }
  .device-status ul.status-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .device-status ul.status-bar li.green {
    background-color: #22b200;
  }
  .device-status ul.status-bar li.red {
    background-color: #ea0024;
  }
  
