::ng-deep .modal-dialog {
 
    width: 100% ;
    height: 100vh ;
    max-width: 100%;
    margin: 0;
}

 ::ng-deep .modal-content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;   
} 

::ng-deep .modal-content > .modal-body {
    padding: 0px;
}

.cp-wrapper{
    position: relative;
    top: 100px;
}

.cc-media-library-container {
    height: 531px;
    overflow-y: overlay;
    overflow-x: hidden;
}
.cc-media-library-img {
    margin-right: 12px;
    width: 86px;
    height: 86px;
    object-fit: cover;
}
.cc-media-controls {
    position: relative;
    width: 368px;
    height: 86px;
    background-color:#F2F2F2;
    border-radius: 4px 0px 0px 4px;
}
.cc-medias-adjust {
    width: 368px !important;
}
.cc-medias {
    margin-top: 1px;
    margin-bottom: 1px;
    position: relative;
    width: 368px;
    height: auto;
    min-height: 87px;
    background-color: #F2F2F2;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
}
.cc-media-options {
    position: absolute;
    width: 327px;
    left: 6%;
    top: 51.5%;
    text-shadow:0 0 #4b4b4b;
}
.cc-media-option-text:hover{
    text-decoration: none;
    border-bottom: 1.2px solid rgb(238, 6, 6);
}

.cc-media-option-text span {
    color:#222222;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.cc-media-option-text .active{
    border-bottom: 1.2px solid rgb(238, 6, 6);
}

.cc-media-search {
    position: absolute;
    width: 327px;
    left: 5.8%;
    top: 12.5%;
}
.cc-media-search-icon  {
    position: absolute;
    top: 8px;
    left: 11px;
    color: #d2d2d2;
}
.cc-media-input-txt {
    padding-left: 35px;
    border: none;
    border-radius: 20px;
    background-color: #8D8D8D;
    height: 32px;
    color: #ffff;
}
.cc-modal-body {
    padding: 0px;
    margin: 0px;
    background-color: #fff;
    width: 854px;
}

.cc-media-img-details {
    font-size: 14px;
    width: 250px;   
}
.cc-media-library-name {
    color: #222222;
    font-size: 14px;
    font-weight: 600;

    word-break: break-word;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: inherit;
}
.cc-media-library-filesize {
    color: #777777;
    font-size: 12px;
}
.cc-media-library-date {
    color: #777777;
    font-size: 12px;
}
.cc-media-header-container {
    padding: 20px 30px 15px 30px;
}
.cc-media-header {
    color: #222222;
    font-size: 14px;
    font-weight: 600;
}
.cc-media-right-name-container {
    word-wrap: break-word;
    white-space: nowrap;
    width: inherit;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cc-selected-media-container {
    padding: 0px 30px 0px 30px; 
    height: 470px;
    overflow-y: overlay;  
}
.cc-media-right-selected {
    height:75px; 
    border-top: 1px solid #222222;
}
.cc-media-right-time {
    height: 44px;
    width: 68px;
    border: 1px solid #222222;
    border-radius: 4px;
    text-align: center;
}
.cc-media-right-time-container {
    padding-left:16px;
}
.cc-media-right-time-1 {
    color: #222222;
    font-size: 16px;
    font-weight: 600;
}
.cc-media-right-time-2 {
    font-size: 12px;
    color: #222222;
}
.cc-media-right-image {
    margin-right: 12px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}
.cc-media-button-container {
    margin-top: 6px;
}
.btn-media-add {
    width: 115px;
    height: 34px;
    border-radius: 20px;
    padding: 5px 25px 5px 24px;
    border: 1px solid #363636;
    background-color: transparent;
    font-size: 15px;
    font-weight: 600;
}
.btn-media-cancel {
    background: transparent;
    font-size: 15px;
    font-weight: 600;
}
.cc-media-selected {
    background-color: #5DAAE0;
}
.cc-media-details-selected {
    color: white;
    font-weight: normal;
}
.cc-added-media-box {
    margin-top: 2px; 
    font-size: 12px; 
    font-weight: 600; 
    color: #222222; 
    height:105px
}
.cc-added-media-count {
    height: 35px;
    width: 57px;
    background-color: #C3C3C3;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}
.cc-added-media-details {
    height: 111px;
    font-size: 12px;
    font-weight: 600;
    color: #222222;
}
.cc-added-media-name {
    text-shadow: 0 0 #9b9b9b;
    width: 135px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
.cc-added-media-num {
    width: 57px;
    text-align: center;
    height: 36px;
    background-color: #C3C3C3;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 34%;
    border-radius: 2px;
    line-height: 35px;
}
.cc-added-media-num-adjust {
    margin-left: 28.4%;
}
.cc-media-remove {
    display: none;
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 600;
}
.cc-media-selected-schedule {
    display: none;
    margin-left: 3%;
    margin-bottom:3%;
}
.cc-added-media-select-bg {
    background-color: #e1e1e1;
}   
.btn-manage-playlist {
    border-radius: 20px;
    border: 1.5px solid #363636;
    font-size: 14px;
    font-weight: normal;
    background-color: white;
    width: 135px;
    height: 34px;
    /* padding: 6px; */
}
.media-divider {
    display: block;
    border-bottom: 1px solid #E0E1E1;
    width: 100%;
}
.cc-modal-x {
    position: fixed;
    /* right: -34.5%;
    top: -9%; */
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.media-duration-text-edit {
    border: none;
    color: black;
    padding: 0px;
    height: 24px;
    border-bottom: 1px solid #b5b5b5;
    border-radius: 0px;
    padding-left: 28px;
    font-weight: 600;
}

.modal-backdrop.show {
    opacity: .8;
}