<div class="cp-wrapper">
    <img (click)="bsModalRef.hide()" class="cc-modal-x" src="/assets/images/Close X.svg" height="25.49" width="25.49">
    <div class="modal-body cc-modal-body">
        <div class="d-flex flex-row">
            <div>
                <div class="d-flex flex-column">
                    <div class="cc-media-controls">
                        <div class="cc-media-search">
                            <img class="cc-media-search-icon" height="14.5" width="14.5" src="/assets/images/cc-media-search.svg">
                            <input id="media-search" name="media-search" autocomplete="off" [(ngModel)]="searchTerm"
                                (change)="searchMediaLibrary()" (keyup)="searchMediaLibrary()" class="cc-media-input-txt form-control" />
                        </div>
                        <div class="cc-media-options">
                            <div class="d-flex flex-row justify-content-center">
                                <div class="p-2" *ngFor="let mediaLibraryType of mediaLibraryTypes">
                                    <a href="javascript: void(0);" class="cc-media-option-text" (click)="changeMediaLibraryType(mediaLibraryType)">
                                        <span [class.active]="mediaLibraryType.Selected">{{mediaLibraryType.Name}}</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="cc-media-library-container" infinite-scroll [infiniteScrollDistance]="scrollDistance"
                        [infiniteScrollThrottle]="throttle" [scrollWindow]="false" (scrolled)="onScrollDown($event)">
                        <div class="mt-3 text-center" *ngIf="isLoading">Loading...</div>

                        <div *ngFor="let media of mediaLibraries" [class.cc-medias-adjust]="mediaLibraries.length < 7"
                            class="cc-medias">
                            <div [class.cc-media-selected]="media.Selected" (click)="playlistService.selectMedia(media)"
                                class="d-flex flex-row h-100">
                                <!-- class="cc-media-library-img" [ngStyle]="{'background-image': 'url(' + media.ThumbnailUrl + ')'}" -->
                                <div>
                                    <img class="cc-media-library-img" height="86" width="86" [src]="media.ThumbnailUrl">
                                </div>
                                <div>
                                    <div class="d-flex align-items-start flex-column justify-content-center h-100 cc-media-img-details">
                                        <div class="cc-media-library-name" [class.cc-media-details-selected]="media.Selected">
                                            <span [title]="media.Title">{{media.Title}}</span>
                                        </div>
                                        <div>
                                            <span [class.cc-media-details-selected]="media.Selected" class="cc-media-library-filesize">
                                                Size: {{commonFunctionsService.formatFileSize(media.FileSize)}}
                                            </span>
                                        </div>
                                        <!-- <div>
                                                <span [class.cc-media-details-selected]="media.Selected" class="cc-media-library-date">
                                                    Added: {{ media.CreatedDatetime | date: 'MMM d, yyyy h:mm a' }}
                                                </span>
                                            </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 text-center" *ngIf="!isLoading && mediaLibraries.length == 0">
                            No data available
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-100">
                <div *ngIf="playlistService.selectedMedias.length > 0" class="d-flex flex-row cc-media-header-container">
                    <div>
                        <span class="cc-media-header">
                            Media
                        </span>
                    </div>
                    <div class="ml-auto">
                        <span class="cc-media-header">
                            Display Time
                        </span>
                    </div>
                </div>
                <div class="d-flex flex-column align-items-center cc-selected-media-container text-center">
                    <div *ngIf="playlistService.selectedMedias.length === 0" style="width:364px; margin-top:50%;">
                        <span style="color:#222222;font-size:34px; font-family:'Helvetica-Neue-Light'">
                            Select media on the left to create your playlist
                        </span>
                        <br />
                        <img src="/assets/images/Add Media Left Arrow.svg" height="33" width="33" />
                    </div>
                    <div *ngFor="let media of playlistService.selectedMedias" class="cc-media-right-selected w-100">
                        <div class="d-flex flex-row h-100 align-items-center">
                            <div class="cc-media-right-image" [ngStyle]="{'background-image': 'url(' + media.ThumbnailUrl + ')'}">
                                <!-- <img class="cc-media-right-image" height="48" width="48" src="{{media.ThumbnailUrl}}"> -->
                            </div>
                            <div>
                                <div class="d-flex align-items-start flex-column justify-content-center h-100 cc-media-img-details"
                                    style="width: 280px;">
                                    <div class="cc-media-right-name-container">
                                        <span class="cc-media-right-name" [title]="media.Title">{{media.Title}}</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="ml-auto">
                                    <img src="/assets/images/Schedule.svg" height="27" width="27" />
                                </div> -->
                            <div class="ml-auto cc-media-right-time-container">
                                <div *ngIf="isVideoType(media.MediaLibraryTypeId)">
                                    <div class="cc-media-right-time">
                                        <div class="cc-media-right-time-1" style="padding: 9px;">{{commonFunctionsService.formatDuration(media.Duration)}}</div>
                                    </div>
                                </div>
                                <div *ngIf="!isVideoType(media.MediaLibraryTypeId)">
                                    <!-- <div class="cc-media-right-time">
                                            <div class="cc-media-right-time-1">{{media.Duration}}</div>
                                            <div class="cc-media-right-time-2">Seconds</div>
                                        </div> -->

                                    <div class="cc-media-right-time">
                                        <div class="cc-media-right-time-1">
                                            <span *ngIf="!media.editMediaDuration" (click)="onEditMediaDuration(media)">{{media.Duration}}
                                            </span>

                                            <input [delayClickOutsideInit]="true" (clickOutside)="exitMediaDurationEdit(media)"
                                                (keyup.enter)="exitMediaDurationEdit(media)" *ngIf="media.editMediaDuration"
                                                [(ngModel)]="media.Duration" type="number" min="1" step="1" class="form-control media-duration-text media-duration-text-edit">
                                        </div>

                                        <div class="cc-media-right-time-2">Seconds</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="playlistService.selectedMedias.length > 0" class="d-flex flex-row justify-content-center cc-media-button-container">
                    <div class="p-3">
                        <button (click)="addMedias();" class="btn btn-media-add">
                            <span [class.span-text-mac-other]="browserType === 'other' && os === 'mac'"
                                [class.span-text-firefox]="browserType === 'firefox'">
                                Done
                            </span>
                        </button>
                    </div>
                    <div class="p-3">
                        <button (click)="bsModalRef.hide()" class="btn btn-media-cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>