.brand-text {
    color: #EDF703;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: 'Futura';
    margin-left: 8px;
}
.brand-nav {
    background-color: #6795AD;
    height: 54px;
}
.brand-logo-container {
    display: flex;
    align-items: center;
}