<nav class="navbar brand-nav">
    <a class="navbar-brand brand-logo-container" href="#">
      <img src="./assets/images/Cityeologo.png" width="112" height="25" class="d-inline-block align-top" alt="">
      <span class="brand-text">Digital Sign</span>
    </a>
</nav>