<div class="container-fluid permissions-container">
            <div class="row">
               <div class="d-flex flex-row align-items-center flex-fill">
                  <div>
                     <span class="permissions-text">Permissions</span>
                  </div>
               </div>
            </div>
            <div class="row" style="position:relative">
               <div class="d-flex flex-row align-items-center flex-fill">
                  <div (click)="showAddUser = true" class="add-user-btn-container">
                        <img src="./assets/images/Permissions Add user button.svg"/>
                  </div>
                  <div>
                        <div *ngIf="showAddUser" class="add-user-container" [delayClickOutsideInit]="true" (clickOutside)="exitAddUser($event)">
                              <div>
                                    <label style="font-size:16px; color: #222222;">User name or email</label>
                                    <input type="text" class="form-control manage-permissions-text manage-permissions-text-edit">
                              </div>
                              <div>
                                    <div class="d-flex flex-column" style="margin-top: 10px; margin-left: -7px; margin-bottom: 0px;">
                                          <div class="d-flex flex-row align-items-center users">
                                                <div>
                                                      <img class="permission-image" src="https://picsum.photos/59/59"> 
                                                </div>
                                                <div>
                                                      John Apple
                                                </div>
                                          </div>
                                          <div class="d-flex flex-row align-items-center users">
                                                      <div>
                                                            <img class="permission-image" src="https://picsum.photos/59/59"> 
                                                      </div>
                                                      <div>
                                                            John Apple
                                                      </div>
                                                </div>
                                                <div class="d-flex flex-row align-items-center users">
                                                            <div>
                                                                  <img class="permission-image" src="https://picsum.photos/59/59"> 
                                                            </div>
                                                            <div>
                                                                  John Apple
                                                            </div>
                                                      </div>
                                    </div>
                              </div>
                              <div>
                                   <hr class="add-user-hr" />
                                    <div class="d-flex flex-column justify-content-center align-items-center">
                                          <div>
                                                      <img src="/assets/images/Send invite buton.svg">
                                                </div>
                                    </div>

                              </div>
                        </div>
                  </div>
               </div>
            </div>
            <div class="row">
                <div class="d-flex flex-row align-items-center">
                    <div *ngIf="hasCheckedPermissions()" style="margin-right: 25px; margin-left: 12px; margin-bottom: 35px;">
                        <div class="custom-control custom-checkbox permissions-checkbox">
                              <input (change)="checkAllPermissions = !checkAllPermissions; permissionsCheckAll()" ([ngModel])="checkAllPermissions" name="permissions-chk-all" type="checkbox" class="custom-control-input" id="permissions-chk-all">
                              <label [class.permissions-check-show]="hasCheckedPermissions()" class="permissions-control-label custom-control-label all-permissions-control" for="permissions-chk-all"></label>
                        </div>
                  </div>
                    <div *ngIf="hasCheckedPermissions()" style="margin-right: 36px; margin-top: 3px;">
                        <div class="d-flex flex-row align-items-center">
                              <div>
                                    <div>
                                          <button (click)="removeAllCheckedPermissions()" class="btn permissions-delete-button">Remove</button>
                                    </div>
                              </div>
                              <div style="margin-top: 0px; margin-left:7px;">
                                    <span style="color: #222222;font-size: 13px;">[ {{permissionsCheckedLength()}} ]</span>
                              </div>
                        </div>
                  </div>
                </div>
            </div>
            <div class="row">
               <table [class.permissions-btn-show]="hasCheckedPermissions()" class="permissions-table table table-borderless">
                  <thead>
                     <tr>
                        <th style="width: 35px;"></th>
                        <th scope="col">Name </th>
                        <th style="float: right; margin-right: 150px;" scope="col">Role </th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let permission of permissionList; let i = index">
                        <td>
                           <div class="custom-control custom-checkbox permissions-checkbox">
                              <input (change)="checkPermissions(); permission.checked = !permission.checked" [checked]="permission.checked" ([ngModel])="permission.checked" name="permission-chk-{{i}}" type="checkbox" class="custom-control-input" id="permission-chk-{{i}}">
                              <label [class.permissions-check-show]="hasCheckedPermissions()" class="permissions-control-label custom-control-label" for="permission-chk-{{i}}"></label>
                           </div>
                        </td>
                        <td>
                           <div class="d-flex flex-row align-items-center">
                              <div>
                                 <img class="permission-image" src="{{permission.image}}"> 
                              </div>
                              <div>
                                 <div class="d-flex align-items-start justify-content-center flex-column h-100">
                                    <div class="mb-auto">
                                       <span>
                                       {{permission.name}}
                                       </span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </td>
                        <td style="float:right; margin-right: 110px;">
                          <span>
                              {{permission.role}}
                          </span>
                          <i style="margin-left: 9px;" class="fa fa-caret-down" aria-hidden="true"></i>
                        </td>
                     </tr>
                  </tbody>
               </table>
            </div>
        </div>  