.permissions-container {
    margin-top: 32px;
    white-space: nowrap;
    margin-left: 30px;
    width: 95%;
}
.permissions-text {
    font-family: Georgia;
    font-size: 34px;
}
.permissions-table {
    font-size: 13px;
    color: #222222;
    font-weight: 600;
    white-space: nowrap;
    margin-top: 71px;
    margin-bottom: 60px;
}
.permissions-table tbody > tr {
    border-bottom: 1px solid #E0E0E0;
}
.permissions-table thead > tr th {
    color: #B2B2B2;
    font-size: 12px;
}
.permissions-table tbody > tr:hover ::ng-deep .permissions-control-label {
    display: inline-block;
}
.permissions-table tbody > tr:hover .pic-edit-menu {
    display: block;
}
.permission-image {
    height: 26px;
    width: 26px;
    border-radius: 50px;
    margin-right: 8px;
}
.add-user-btn-container {
    margin-top: 17px;
    margin-left: 0px;
}
.all-permissions-control {
    position: inherit;
    top: inherit;
}
.all-permissions-control:before {
    border: 1px solid #363636;
}
.permissions-delete-button {
    border-radius: 20px;
    background-color: #FAECEC;
    padding: 5px 12px 5px 12px;
    font-size: 13px;
    font-weight: normal;
    font-family: 'Helvetica-Neue';
}
.permissions-trash {
    padding: 5px 10px 7px 10px;
    border-radius: 28px;
}
.permissions-trash:hover {
    transition: ease-in-out 0.3s;
    background-color: #FAECEC;
}
.permissions-table tbody > tr:hover ::ng-deep .permissions-control-label {
    display: inline-block;
}
.permissions-check-show {
    display: inline-block;
}
.permissions-btn-show {
    margin-top: 12px;
}
::ng-deep .permissions-control-label {
    position: absolute;
    display: none;
}
::ng-deep .permissions-checkbox .custom-control-input:checked~.permissions-control-label::before {
    background-color: #43ADE5;
    border-radius: 2px;
    border: none;
    height: 20px;
    width: 20px;
}
::ng-deep .permissions-checkbox .permissions-control-label::before {
    border-radius: 2px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 20px;
    width: 20px;
}
::ng-deep .permissions-control-label::after { 
    top: 0.25rem;
    left: -1.5rem;
    width: 1.3rem;
    height: 1.3rem;
    background-size: 48% 81%;   
}
.add-user-container {
    z-index: 500;
    background-color: white;
    height: 300px;
    width: 400px;
    padding: 20px 28px 20px 25px;
    border-radius: 14px 14px 4px 4px;
    position: absolute;
    left: 0%;
    top: 25%;
    box-shadow: 1px 2px 7px 2px #d4d4d4;
}
.manage-permissions-text {
    color: #000000;
    font-size: 15px;
}
.manage-permissions-text-edit {
    border: none;
    color: black;
    padding: 0px;
    height: 31px;
    border-bottom: 1.5px solid #e2e2e2;
    border-radius: 0px;
    margin-bottom: 2px;
    padding-top: 3px;
    margin-left: 0px;
    margin-top: -15px;
    font-size: 13px;
}
.manage-permissions-text-edit:focus {
    outline-style: none;
    box-shadow: none;
}
.add-user-lists {
    list-style-type: none;
}
.users {
    padding: 7px;
}
.users:last-child {
    margin-bottom: 24px;
}
.add-user-hr {
    background-color: #ebebeb;
    height: 0.5px;
}