.add-devices-container {
    margin-top: 47px;
    margin-left: 42px;
    width: 90%;
    white-space: nowrap;
    margin-bottom: 292px;
}
.device-save-btn {
    border-radius: 20px;
    border: 1.5px solid #363636;
    width: 85px;
    padding: 2.5px 24px 2.5px 24px;
    font-weight: 600;
    background-color: transparent;
}
.device-back-arrow {
    padding: 5px 10px 7px 10px;
    border-radius: 28px;
    background-color: #F5F5F5;
    text-align: center;
    width: 40px;
    margin-left: 22px;
}
.device-back-arrow:hover {
    background-color: #EDEDED;
}
.device-info-text {
    font-size: 34px;
    font-family: Georgia;
}
.assigned-playlist-text {
    font-size: 34px;
    font-family: Georgia;
}
.device-info-container {
    margin-left: 93px;
    margin-top: -7px;
}
.device-info-form {
    width: 678px;
    min-height: 685px;
    padding: 30px 50px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
}
.device-info-label {
    color: #777777;
    padding-left: 0px;
    font-size: 15px;
}
.device-info-textbox {
    border: none;
    color: #222222;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    font-size: 15px;
    font-weight: 600;
    margin-left: -20px;
}

.timezone-select{
    border:none;
    color: #222222;
    width: 470px;
    padding-left: 0;
    padding-right: 0;
    margin-left: -20px;
    font-size: 15px;
    font-weight: 600;
}

.assigned-playlist-select {
    border: none;
    color: #222222;
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    font-size: 15px;
    font-weight: 600;
    margin-left: -20px;
    width: 470px;
}
.device-info-textbox:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
.assigned-playlist-select:focus, .assign-playlist-textbox:focus, .timezone-select:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}
.device-form-group {
    border-bottom: 1px solid #E0E0E0;
}
.assigned-playlist-form-group {
    border-bottom: 1px solid #E0E0E0;
}
.device-info-header {
    margin-left: -13px;
    margin-bottom: 10px;
}
.assigned-playlist {
    margin-top: 27px;
}
.assigned-playlist-form {
    width: 678px;
    height: 125px;
    padding: 30px 50px 0px 50px;
    border-radius: 4px;
    border: 1px solid #E0E0E0;
}

.add-device-img{
    object-fit: cover;
    width: 76px;
    height: 76px;
}

.device-info-textbox.form-control:disabled, .device-info-textbox.form-control[readonly]{
    background-color: #ffffff;
    cursor: not-allowed;
    color: #B2B2B2;
}

.assign-playlist-textbox::placeholder {
    color: #222;
    font-weight: 700;
}

.assign-playlist-textbox{
    width: 470px;
    border: none;
    padding-left: 0;
    padding-right: 0;
    margin-left: -20px;
}

.invalid-feedback{
    margin-left: -20px;
    display: block;
}