<div class="add-devices-container">
  <div class="d-flex flex-row">
    <form *ngIf="deviceForm != null" [formGroup]="deviceForm" (ngSubmit)="saveDevice()" class="d-flex">
      <div>
        <div class="d-flex flex-column">
          <a href="javascript:void(0);" (click)="backToDevices()" class="device-back-arrow">
            <img src="./assets/images/add-device-back-btn.svg" width="14" height="14" />
          </a>
          <div style="margin-top: 23px;">
            <button type="submit" class="btn btn-default device-save-btn" [disabled]="isBlurApiCall">Save</button>
          </div>
        </div>
      </div>
      <div class="device-info-container">

        <div class="d-flex flex-row align-items-center" style="justify-content: space-between;">
          <span class="device-info-text">{{deviceId <= 0 ? 'Add New Device' : 'Device Info' }} </span> 
          <span style="margin-right: 30px;">PIN code: {{deviceForm.controls["RegistrationCode"].value}}</span>
        </div>

        <div class="device-info-form">
          <div class="device-info-header">
            <div class="d-flex flex-row align-items-center">
              <div>
                <img *ngIf="!this.isImageUploaded" src="./assets/images/device-placeholder.png" height="76" width="76"
                  class="add-device-img" />
                <img *ngIf="this.isImageUploaded" [src]="fileUrl" height="76" width="76" class="add-device-img" />
              </div>
              <div style="margin-left: 22px;">
                <a href="javascript:void(0);" style="color: #12A3D3; font-size: 15px; font-weight: 600;text-decoration: none;"
                  (click)="imageInput.click()">Edit
                  <input type="file" id="imagefile" name="imagefile" hidden formControlName="PhotoUpload" (change)="onFileChanged($event.target.files)"
                    #imageInput type="file" accept="image/*">
                </a>
              </div>
            </div>
          </div>
          <div class="row form-group" *ngIf="!isEditMode">
            <div class="col-sm-12">
              <div class="row device-form-group">
                <label for="registrationCode" class="col-sm-3 col-form-label device-info-label">PIN Code</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control device-info-textbox" formControlName="RegistrationCode" id="registrationCode"
                    autocomplete="off" maxlength="50" (keydown)="invalidRegistrationCodeMsg = ''" (blur)="getDeviceDetailsByCode()">
                </div>
              </div>
              <div *ngIf="RegistrationCode.invalid && (RegistrationCode.dirty || RegistrationCode.touched)" class="row">
                <div class="col-sm-9 offset-sm-3">
                  <div class="invalid-feedback">
                    <span *ngIf="RegistrationCode.errors.required">PIN Code is required</span>
                    <!-- <span *ngIf="RegistrationCode.errors.minlength">PIN Code must be at least 6 digit long</span> -->
                    <span *ngIf="RegistrationCode.errors.invalidCode">{{invalidRegistrationCodeMsg}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-sm-12">
              <div class="row device-form-group">
                <label for="deviceName" class="col-sm-3 col-form-label device-info-label">Device Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control device-info-textbox" formControlName="Name" id="deviceName"
                    autocomplete="off" maxlength="50">
                </div>
              </div>
              <div *ngIf="Name.invalid && (Name.dirty || Name.touched)" class="row">
                <div class="col-sm-9 offset-sm-3">
                  <div class="invalid-feedback">
                    <span *ngIf="Name.errors.required">Device name is required</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="form-group row device-form-group">
            <label for="deviceAddress" class="col-sm-3 col-form-label device-info-label">Device Address</label>
            <div class="col-sm-9">
              <input type="text" class="form-control device-info-textbox" formControlName="Address" id="deviceAddress"
                autocomplete="off" maxlength="500">
            </div>
          </div>
          <div class="form-group row device-form-group">
            <label for="city" class="col-sm-3 col-form-label device-info-label">City</label>
            <div class="col-sm-9">
              <input type="text" class="form-control device-info-textbox" formControlName="City" id="city" autocomplete="off"
                maxlength="50">
            </div>
          </div>
          <div class="form-group row device-form-group">
            <label for="state" class="col-sm-3 col-form-label device-info-label">State</label>
            <div class="col-sm-9">
              <input type="text" class="form-control device-info-textbox" id="state" autocomplete="off" maxlength="50"
                formControlName="State" [typeaheadAsync]="true" [typeahead]="statesDataSource" typeaheadOptionField="Name"
                [typeaheadOptionsInScrollableView]="5"
                (typeaheadOnSelect)="onSelectState($event)" />
              <!-- [typeaheadItemTemplate]="stateItemTemplate" -->


              <!-- <ng-template #stateItemTemplate let-state="item" let-index="index">
                {{state.Name}}
              </ng-template> -->
            </div>
          </div>
          <div class="form-group row device-form-group">
            <label for="zip" class="col-sm-3 col-form-label device-info-label">Zip</label>
            <div class="col-sm-9">
              <input type="text" class="form-control device-info-textbox" formControlName="Zip" id="zip" autocomplete="off"
                maxlength="20">
            </div>
          </div>
          <div class="form-group row device-form-group">
            <label for="serialNumber" class="col-sm-3 col-form-label device-info-label">Serial Number</label>
            <div class="col-sm-9">
              <input type="text" class="form-control device-info-textbox" formControlName="SerialNumber" id="serialNumber"
                autocomplete="off" maxlength="50">
            </div>
          </div>
          <div class="row form-group">
            <div class="col-sm-12">
              <div class="row device-form-group">
                <label for="registrationKey" class="col-sm-3 col-form-label device-info-label">Registration Key</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control device-info-textbox" formControlName="RegistrationKey" id="registrationKey"
                    autocomplete="off" maxlength="50">
                </div>
              </div>
              <div *ngIf="RegistrationKey.invalid && (RegistrationKey.dirty || RegistrationKey.touched)" class="row">
                <div class="col-sm-9 offset-sm-3">
                  <div class="invalid-feedback">
                    <span *ngIf="RegistrationKey.errors.required">Registration Key is required</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row device-form-group">
            <label for="deviceType" class="col-sm-3 col-form-label device-info-label">Device Type</label>
            <div class="col-sm-9">
              <input type="text" class="form-control device-info-textbox" formControlName="DeviceType" id="deviceType"
                autocomplete="off" maxlength="50">
            </div>
          </div>
          <div class="form-group row device-form-group">
            <label for="osVersion" class="col-sm-3 col-form-label device-info-label">OS Version</label>
            <div class="col-sm-9">
              <input type="text" class="form-control device-info-textbox" formControlName="OsVersion" id="osVersion"
                autocomplete="off" maxlength="50">
            </div>
          </div>
          <div class="form-group row device-form-group">
            <label for="timeZone" class="col-sm-3 col-form-label device-info-label">Time Zone</label>
            <div class="col-sm-9">              
              <select formControlName="TimezoneId" id="timeZone" class="custom-select timezone-select">
                <option [ngValue]="null">--- Select Timezone ---</option>
                <option *ngFor="let timezone of timezones" [value]="timezone.Id">{{timezone.DisplayName}}</option>
              </select>
            </div>
          </div>
        </div>
        <!-- <div class="assigned-playlist">
          <span class="assigned-playlist-text">Assigned Playlist</span>
          <div class="assigned-playlist-form">

            <div class="form-group row assigned-playlist-form-group">
              <label for="playlist" class="col-sm-3 col-form-label device-info-label">Playlist</label>
              <div class="col-sm-9">
                <input class="custom-select assign-playlist-textbox" autocomplete="off"
                formControlName="PlaylistName"
                [typeaheadAsync]="true"
                [typeahead]="playlistDataSource"
                [typeaheadMinLength]="0"
                [typeaheadOptionsLimit]="25"
                [typeaheadOptionsInScrollableView]="5"
                typeaheadOptionField="Name"
                (typeaheadOnSelect)="onSelectPlaylist($event)"
                (blur)="onBlurPlaylist($event)"
                (typeaheadNoResults)="onNoResultsPlaylist($event)"
                placeholder="--- Select Playlist ---" />
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </form>
  </div>
</div>