::ng-deep .modal-dialog {
 
    width: 100% ;
    height: 100vh ;
    max-width: 100%;
    margin: 0;
}

::ng-deep .modal-content {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    /* justify-content: center; */
    align-items: center;   
}

::ng-deep .modal-backdrop.show {
    opacity: .8;
}

.pp-wrapper{
    top: 20%;
    position: relative;
}

.pp-modal-x{
    position: fixed;
    top: 25px;
    right: 25px;
    cursor: pointer;
}

.pp-media-wrapper{
    text-align: center;
}

.pp-media-wrapper img, .pp-media-wrapper video {
    border: 8px solid #000;
    box-sizing: content-box;
}

.pp-title{
    color: #fff;
}
.pp-aspect-ratio{
    color: #7BD1FF;
}

.pp-text-center{
    text-align: center;
    margin: 15px 0;
}
.pp-landscape{
    width: 400px;
    height: 200px;
    object-fit: contain;
    background-color: #f2f2f2;
}

.pp-portrait{
    height: 400px;
    width: 200px;
    object-fit: contain;
    background-color: #f2f2f2;
}