<div class="pp-wrapper">
  <a href="javascript: void(0);" class="pp-modal-x" (click)="bsModalRef.hide()">
    <img src="/assets/images/Close X.svg" height="25.49" width="25.49">
  </a>
  <div class="modal-body">
    <div *ngFor="let media of playlistMedia" class="pp-media-wrapper">
      <div class="pp-text-center" *ngIf="media.Selected && finalWidth < finalHeight">
        <div class="pp-title">{{media.Title}}</div>
        <div class="pp-aspect-ratio">Aspect ratio: {{media.FrameWidth}}x{{media.FrameHeight}} </div>
      </div>

      <img #imageElement *ngIf="media.Selected && media.MediaLibraryTypeId === ImageMediaLibraryType" [src]="media.Url" 
      [style.width.px]="finalWidth"
      [style.height.px]="finalHeight"
        [ngClass]="isPortrait ? 'pp-portrait':'pp-landscape'">

      <video #videoElement *ngIf="media.Selected && media.MediaLibraryTypeId === VideoMediaLibraryType" 
      [style.width.px]="finalWidth"
      [style.height.px]="finalHeight"
      [ngClass]="isPortrait ? 'pp-portrait':'pp-landscape'">
        <!-- [style.width]="media.FrameWidth"
              [style.height]="media.FrameHeight" -->
        <source [src]="media.Url" [type]="media.MIMEType">
        Browser not supported
      </video>
      <div class="pp-text-center" *ngIf="media.Selected && finalWidth >= finalHeight">
        <div class="pp-title">{{media.Title}}</div>
        <div class="pp-aspect-ratio">Aspect ratio: {{media.FrameWidth}}x{{media.FrameHeight}} </div>
      </div>
    </div>
  </div>
</div>