<div *ngIf="scheduleForm != null" [formGroup]="scheduleForm">


  <div class="row">
    <div class="mb-2 ps-field-fixed-width">
      <div class="custom-control custom-checkbox ps-checkbox">
        <input formControlName="IsEveryday" (change)="onChangeEveryDay($event)" name="ps-everyday-chk" type="checkbox"
          class="custom-control-input" id="ps-everyday-chk">
        <label class="custom-control-label ps-control-label" for="ps-everyday-chk">Every day</label>
      </div>
    </div>
    <div class="mb-2 ps-field-fixed-width">
      <div class="custom-control custom-checkbox ps-checkbox">
        <input formControlName="TheseDays" (change)="onChangeTheseDays($event)" name="ps-thesedays-chk" type="checkbox"
          class="custom-control-input" id="ps-thesedays-chk">
        <label class="custom-control-label ps-control-label" for="ps-thesedays-chk">On these days</label>
      </div>
    </div>
  </div>

  <div class="form-group" *ngIf="TheseDays.value">
    <!-- <div class="btn-group these-days-btns" formArrayName="TheseDaysCheckBoxGroup">
        <label class="btn btn-primary" [class.active]="control.controls.Checked.value" *ngFor="let control of TheseDaysCheckBoxGroup.controls; let i = index;"
        [formGroup]="control">
        <input type="checkbox" formControlName="Checked" id="{{ control.controls.Id.value }}">
        <span>{{ control.controls.Text.value }}</span>
      </label>
    </div> -->
    <div class="row" formArrayName="TheseDaysCheckBoxGroup">
      <div *ngFor="let control of TheseDaysCheckBoxGroup.controls; let i = index;" [formGroup]="control" class="col-lg-12 ps-field-fixed-width ps-field-ml"
      [class.vertical]="isVerticalLayout"
      >
        <div class="custom-control custom-checkbox ps-checkbox-o">
          <input formControlName="Checked" name="{{ control.controls.Id.value }}" type="checkbox" class="custom-control-input"
            id="{{ control.controls.Id.value }}">
          <label class="custom-control-label ps-control-label" for="{{ control.controls.Id.value }}">{{
            control.controls.Text.value }}</label>
        </div>
      </div>
    </div>
    <div *ngIf="TheseDaysCheckBoxGroup.invalid && (TheseDaysCheckBoxGroup.dirty || TheseDaysCheckBoxGroup.touched)"
      class="invalid-feedback" style="display: block">
      <span *ngIf="TheseDaysCheckBoxGroup.errors.required">Please select at least one day of the week</span>
    </div>

  </div>
  <div class="row">
    <div class="mb-2 ps-field-fixed-width">
      <div class="custom-control custom-checkbox ps-checkbox">
        <input formControlName="IsForFullDay" (change)="onChangeForFullDay($event)" type="checkbox" class="custom-control-input"
          id="ps-allday-chk">
        <label class="custom-control-label ps-control-label" for="ps-allday-chk">All day</label>
      </div>
    </div>
    <div class="mb-2 ps-field-fixed-width">
      <div class="custom-control custom-checkbox ps-checkbox">
        <input (click)="showStartTime()" formControlName="ThisTime" (change)="onChangeThisTime($event)" type="checkbox"
          class="custom-control-input" id="ps-thistime-chk">
        <label class="custom-control-label ps-control-label" for="ps-thistime-chk">At this time</label>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="ThisTime.value">
    <div class="form-group ps-field-fixed-width" [class.vertical]="isVerticalLayout">
      <div class="floating-input-group">
        <input formControlName="StartTime" (click)="showStartTime()" name="startTime" class="starttime floating-input form-control"
          type="text" placeholder=" " autocomplete="off" />
        <label for="startTime" class="floating-label">Start Time</label>

        <ul id="start-time-scroll" (clickOutside)="startTimeClickOutside($event)" [exclude]="'.starttime'" [hidden]="!startTimeVisible"
          class="custom-dropdown-container card-body">
          <li id="start-{{ time.DisplayHour }}" (click)="selectStartTime(time)" *ngFor="let time of hoursList">
            <span>{{ time.DisplayHour }}</span>
          </li>
        </ul>
        <div *ngIf="StartTime.invalid && (StartTime.dirty || StartTime.touched)" class="invalid-feedback" style="display: block">
          <span *ngIf="StartTime.errors.required">Please select start time</span>
          <span *ngIf="StartTime.errors.pattern">Please select valid start time</span>
        </div>
      </div>

    </div>
    <div class="form-group ps-field-fixed-width" [class.vertical]="isVerticalLayout">
      <div class="floating-input-group">
        <input formControlName="EndTime" (click)="showEndTime()" name="endtime" id="endtime" class="endtime floating-input form-control"
          placeholder=" " autocomplete="off" />
        <label for="endTime" class="floating-label">End Time</label>

        <ul id="end-time-scroll" (clickOutside)="endTimeClickOutside($event)" [exclude]="'.endtime'" [hidden]="!endTimeVisible"
          class="custom-dropdown-container card-body">
          <li id="end-{{ time.DisplayHour }}" (click)="selectEndTime(time)" *ngFor="let time of hoursList">
            <span>{{ time.DisplayHour }}</span>
          </li>
        </ul>
        <div *ngIf="EndTime.invalid && (EndTime.dirty || EndTime.touched)" class="invalid-feedback" style="display: block">
          <span *ngIf="EndTime.errors.required">Please select end time</span>
          <span *ngIf="EndTime.errors.pattern">Please select valid end time</span>
        </div>
      </div>
    </div>
  </div>
</div>