.ps-field-fixed-width{
    flex: 0 0 150px;
    max-width: 150px;
    padding: 0 15px;
}

.ps-field-fixed-width.vertical{
    margin-left: 30px;
    margin-bottom: 0;
}

.ps-field-ml{
    margin-left: 150px;
}

.ps-checkbox .ps-control-label::before
,.ps-checkbox-o .ps-control-label::before {
    border-radius: 2px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 20px;
    width: 20px;
}

.ps-checkbox .custom-control-input:checked~.ps-control-label::before {
    background-color: #43ADE5;
    border-radius: 2px;
    border: none;
    height: 20px;
    width: 20px;
}

.ps-checkbox-o .custom-control-input:checked~.ps-control-label::before {
    background-color: #ffffff;
    border-radius: 2px;
    height: 20px;
    width: 20px;
}

.ps-checkbox-o .custom-control-input:checked~.ps-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%2343ADE5' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.ps-control-label::after{
    top: 0.25rem;
    left: -1.55rem;
    width: 1.3rem;
    height: 1.3rem;
    background-size: 48% 81%;
}

.ps-checkbox-o .ps-control-label::after{
    top: 0.15rem;
    left: -1.60rem;
    width: 1.5rem;
    height: 1.5rem;
    background-size: 48% 81%;
}

.ps-checkbox .custom-control-input:checked~.ps-control-label{
    font-weight: 700;
    color: #222;
}

.ps-checkbox .ps-control-label
,.ps-checkbox-o .ps-control-label{
    padding-left: 5px;
    padding-top: 5px;
    font-size: 13px;
    color: #818181;
}

.ps-checkbox-o .ps-control-label{
    color: #222222;
}

.ps-checkbox .custom-control-input:checked .ps-control-label{
    color: #222222;
}

input[type=checkbox]+label{
    cursor: pointer;
}

.these-days-btns input[type='checkbox'] {
    display: none;
}
.these-days-btns .daylongname{
    display: none;
}

.these-days-btns .btn-primary{
    background-color: #fff;
    color: #222;
    border-color: #d1d1d1;
    padding: .375rem 1.3rem;
}

.these-days-btns .btn-primary.active, .these-days-btns .btn-primary:hover{
    background-color: #43ADE5;
    color: #fff;
}

  .custom-dropdown-container {
    background-color: white;
    padding: 10px 10px 10px 10px;
    list-style: none;
    box-shadow: 1px 1px 11px 2px #d1cdcd;
    overflow-y: scroll;
    height: 251px;
    position: absolute;
    width: 100%;
    z-index: 999;
  }
  .custom-dropdown-container > li {
    padding: 4px 10px 4px 15px;
    margin-left: -10px;
    margin-right: -10px;
  }
  .custom-dropdown-container > li:hover {
    cursor: pointer;
    background-color: #f7f5f5;
  }