.active-menu {
    background-color: #222222;
    width: 153px;
    /* height: 31px; */
    margin-left: -10px !important;
    border-radius: 0 22px 22px 0;
}
.active-menu .menu-text {
    color: #fff !important;
    margin-left: 20px;
    /* margin-top: -2.5px; */
}
.sidenav-container {
    font-family: 'Helvetica-Neue';
    margin-top: 25px;
    font-size: 13px;
    margin-left: -5px;
}
.sidenav-container > li {
    margin-left: 10px;
}
.sidenav-container > li > a {
    color: #222222;
    padding: .375rem 1rem;
}
.active-menu-text-mac {
    margin-top: 0px !important;
}
.nav-item-adjust-height {
    height: 35px;
}
.sidenav-adjust {
    line-height: 15.5px;
}