<ul class="nav flex-column sidenav-container">
  <li appHighlightMenu [routerLinkActive]="['active-menu']" class="nav-item">
    <a routerLink="/control-center" [class.active-menu-text-mac]="os === 'mac'" class="nav-link menu-text" >Control Center</a>
  </li>
  <li appHighlightMenu class="nav-item" [routerLinkActive]="['active-menu']">
  <!-- [class.active-menu]="currentUrl?.indexOf('add-device') > -1 || currentUrl?.indexOf('edit-device') > -1 || currentUrl?.indexOf('devices') > -1" -->
    <a routerLink="/devices" [class.active-menu-text-mac]="os === 'mac'" class="nav-link menu-text" >Devices</a>
  </li>
  <li appHighlightMenu [routerLinkActive]="['active-menu']" class="nav-item">
    <a routerLink="/media-library" [class.active-menu-text-mac]="os === 'mac'" class="nav-link menu-text" >Media Library</a>
  </li>
  <li appHighlightMenu [routerLinkActive]="['active-menu']" class="nav-item">
    <a routerLink="/playlists" [class.active-menu-text-mac]="os === 'mac'" class="nav-link menu-text" >Playlists</a>
  </li>
  <li appHighlightMenu [routerLinkActive]="['active-menu']" class="nav-item">
    <a routerLink="/permissions" [class.active-menu-text-mac]="os === 'mac'" class="nav-link menu-text" >Permissions</a>
  </li>
  <li  class="nav-item">
    <a class="nav-link" href="javascript:void(0);">Account</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0);" (click)="toggleRightSidebar()">Support</a>
  </li>
</ul>