.pls-modal-x{
    position: absolute;
    right: -50px;
    top: -50px;
    cursor: pointer;
}

::ng-deep .modal-content{
    background-color: transparent;
    justify-content: flex-start;
    border: none;
}

::ng-deep .modal-backdrop.show {
    opacity: .8;
}

.modal-body{
    /* background-color: #fff; */
    top: 80px;
    min-width: 541px;
    border-radius: 3px;
    padding: 0;
}

::ng-deep .player-setup-form {
    border: none !important;
}