<div class="modal-body">
  <img (click)="bsModalRef.hide()" class="pls-modal-x" src="/assets/images/Close X.svg" height="25.49" width="25.49">

  <app-player-setup [controlCenter]="controlCenter"></app-player-setup>
</div>