<div class="modal-body">
  <img (click)="bsModalRef.hide()" class="ps-modal-x" src="/assets/images/Close X.svg" height="25.49" width="25.49">

  <div class="row">
    <div class="col-lg-12">
      <div class="text-center">
        <span class="ps-header">Set play schedule</span>
      </div>

      <div class="ps-body-container" *ngIf="playlist.Id > 0">
        <div class="form-group font-weight-bold">{{playlist.Name}}</div>

        <form *ngIf="scheduleModalForm != null" [formGroup]="scheduleModalForm" (ngSubmit)="setPlayListSchedule()">
          <app-playlist-schedule [playlistSchedule]="playlist" (formReady)="formInitialized(scheduleFormGroupKey, $event)">
          </app-playlist-schedule>

          <div class="d-flex flex-row justify-content-center ps-footer">
            <button type="submit" class="btn btn-secondary" [disabled]="scheduleModalForm.invalid">Done</button>
          </div>
        </form>
      </div>
      <div *ngIf="playlist.Id === 0">
        <div class="alert alert-danger">
          <span>No playlist is selected</span>
        </div>
      </div>
    </div>
  </div>
</div>