.ps-modal-x{
    position: absolute;
    right: -50px;
    top: -50px;
    cursor: pointer;
}

::ng-deep .modal-content{
    background-color: transparent;
    justify-content: flex-start;
}

::ng-deep .modal-backdrop.show {
    opacity: .8;
}

.modal-body{
    background-color: #fff;
    top: 80px;
    width: 480px;
    border-radius: 3px;
}

.ps-body-container{
    padding: 30px;
}

.ps-header{
    padding: 5px 0 5px;
    border-bottom: 1px solid #222222;
    font-weight: 700;
    FONT-SIZE: 18px;
}

.ps-footer .btn-secondary{
    background-color: #fff;
    color: #222;
    font-weight: 700;
    padding: .475rem 2rem;
    font-size: 14px;
    margin-top: 20px;
    text-transform: uppercase;
}

.ps-footer .btn-secondary:disabled{
    cursor: not-allowed;
}