.player-setup-wrapper{
    display: inline-flex;
    align-items: flex-start;
}


.player-setup-form{
    display: flex;
    width: 541px;
    height: 424px;
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px  rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px  rgba(0,0,0,0.16);
    font-size: 13px;
    border: 1px solid #D3D3D3;
    border-radius: 4px;
    overflow: hidden;
    z-index: 1;
}

.player-setup-left{
    background-color: #f4f4f4;
    width: 37%;
}

.player-setup-left-title{
    font-size: 18px;
    padding: 15px 15px 15px 25px;
    text-transform: uppercase;
    color: #222222;
    font-weight: 700;
}
.player-setup-left ul{
    list-style-type: none;
    padding: 0;
}

.player-setup-left ul li{
    padding: 6px 15px 6px 27px;
    cursor: pointer;
    color: #222222;
    font-size: 13px;
}

.player-setup-left ul li:active, 
.player-setup-left ul li.active,
.player-setup-left ul li.active:hover{
    color: #ffffff;
    background-color: #00A1F2;
}

.player-setup-left ul li:hover{
    color: #222222;
    background-color: #e5eaed;
}

.player-setup-left ul li .circle{
    position: relative;
    height: 16px;
    width: 16px;
    background-color: transparent;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #222;
}

.player-setup-left ul li .circle.active{
    background-color: #4EB900;
    color: #ffffff;
    border: none;
}

.player-setup-left ul li .circle.active.invalid{
    background-color: #E30101;
}

.player-setup-left ul li .circle i{
    display: none;
    position: absolute;
    font-size: 8px;
    left: 4px;
    top: 4px;
    transform: rotate(-15deg);
}

.player-setup-left ul li .circle.active i{
    display: block;
}

.player-setup-left ul li .text{
    padding-left: 15px;
}

.player-setup-left ul li:first-child .text{
    padding-left: 32px;
}

.player-setup-left-footer{
    padding: 5px 15px 45px 27px;
}

.player-setup-left-footer > div{
    padding: 5px 0;
}

.btn-player-setup{
    border-radius: 20px;
    font-size: 13px;
    border: 2px solid #363636;
    background-color: transparent;
    padding: 5px 25px;
    font-weight: 600;
}

.btn-player-setup-reboot{
    border-radius: 3px;
    font-size: 13px;
    border: 1px solid #363636;
    background-color: transparent;
    padding: 3px 15px;
}

.btn-player-setup-gray{
    border-radius: 20px;
    font-size: 13px;
    border: none;
    background-color: #dbdbdb;
    padding: 7px 16px 7px;
    font-weight: 600;
}

.btn-player-setup:disabled{
    cursor: not-allowed;
    border-color:  #969696;
}

.btn-player-setup-green {
    font-size: 13px;
    background-color: #4EB900;
    color: #fff;
    padding: 6px 18px;
}

.btn-player-setup-green:disabled{
    cursor: not-allowed;
}

.player-setup-avail-devices-text{
    font-size: 10px;
    text-transform: uppercase;
    color: #C6C6C6;
    margin-bottom: 5px;
    margin-left: -23px;
}

.player-setup-right{
    padding: 34px 32px;
    width: 63%;
    height: 100%;
    position: relative;
    background-color: #fff;
}

.player-setup-right .player-setup-summary-title{
    font-size: 13px;
    color: #222222;
    font-weight: 700;
}

.player-setup-right .player-setup-summary-margin{
    margin: 1rem 0;
    border-color: #E0E0E0;
}

.player-setup-right .form-control{
    height: 30px;
    font-size: 13px;
}

.player-setup-right .form-control::placeholder {
    font-size: 13px;
    color: #C1C1C1;
}

.player-setup-checkbox .player-setup-control-label {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 13px;
}

.player-setup-checkbox .player-setup-control-label.offline{
    color: #E30101;
}
.player-setup-checkbox  .player-setup-control-label:focus{
outline:none;
}
.player-setup-checkbox  .custom-control-input:focus~.custom-control-label::before{
    box-shadow:none;
}
.player-setup-checkbox .player-setup-control-label::before {
    border-radius: 2px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 20px;
    width: 20px;
}

.player-setup-checkbox .custom-control-input:checked~.player-setup-control-label{
    font-weight: 700;
}

.player-setup-checkbox .custom-control-input:checked~.player-setup-control-label::before {
    background-color: #43ADE5;
    border-radius: 2px;
    border: none;
    height: 20px;
    width: 20px;
}

.player-setup-control-label::after{
    top: 0.20rem;
    left: -1.6rem;
    width: 1.4rem;
    height: 1.4rem;
    background-size: 48% 81%;
}

input[type=checkbox]+label{
    cursor: pointer;
}

.player-setup-link{
    color: #007FBF;
    text-decoration: none;
}

.player-setup-link.valid{
    color: #4EB900;
}

.player-setup-link.invalid{
    color: #E30101;
}

.device-status .device-status-bar {
    width: 10px;
    height: 20px;
    margin-right: 1px;
    margin-right: 5px;
    float: left;
  }
  .device-status-bar.valid, .device-status.valid {
    background-color: #22b200;
  }
  .device-status-bar.invalid, .device-status.invalid {
    background-color: #ea0024;
  }

  .device-status .status-text{
      font-size: 10px;
  }

  .device-status .status-text.valid{
        color: #4EB900;
    }

    .device-status .status-text.invalid{
        color: #E30101;
    }

.player-setup-lazy-load{
    max-height: 342px;
    overflow: auto;
}

.popover-btn {
    position: absolute;
    top: 7px;
    right: 8px;
    cursor: pointer;
}

.popoverPlayerSetupGuide{
    border: none;
    -webkit-box-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px  rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px  rgba(0,0,0,0.16);
    background-color: #F4F4F4;
    font-size: 12px;
    color: #222222;
    /* top: 2px;
    left: 540px;
    position: absolute; */
    width: 210px;
    padding: 1rem 1.5rem;
    z-index: 0;
}

.popoverPlayerSetupGuide .link{
    color: #222222;
    text-decoration: none;
}