<div class="player-setup-wrapper">
  <form class="player-setup-form" *ngIf="playerForm != null" [formGroup]="playerForm" (ngSubmit)="savePlayerSetup()">
    <div class="player-setup-left">
      <div class="player-setup-left-title"></div>
      <ul>
        <li *ngFor="let playerSetupMenu of playerSetupMenus; let i = index; let first = first" [class.active]="playerSetupMenu.Selected"
          (click)="selectPlayerSetupMenu(playerSetupMenu, i);">
          <div class="d-flex align-items-center">
            <span class="circle" *ngIf="!first" [class.active]="hasFormSectionValid(i)" [class.invalid]="i === 1 && !selectedDevice?.IsOnline">
              <i class="fa fa-check"></i>
            </span>
            <span class="text">{{playerSetupMenu.Text}}</span>
          </div>
        </li>
      </ul>
      <div class="player-setup-left-footer">
        <div>
          <button type="submit" class="btn btn-player-setup" [disabled]="playerForm.invalid">Save</button>
        </div>
        <div>
          <button type="button" class="btn btn-player-setup" style="padding-left: 18px; padding-right: 18px;" (click)="cancelForm()">Cancel</button>
        </div>
        <div *ngIf="isControlCenterActive()" style="padding-top: 20px;">
          <button type="button" class="btn btn-player-setup-gray" (click)="removeControlCenter()">Remove</button>
        </div>
      </div>
    </div>
    <div class="player-setup-right">
      <!-- <span class="popover-btn" (click)="showPlayerSetupGuide()">
        <img src="../../../../assets/images/question-mark-gray.svg">
      </span> -->

      <!-- <div *ngIf="!hasReceivedScheduleFormGroup">
        <app-playlist-schedule [playlistSchedule]="playlistSchedule" (formReady)="formInitialized(scheduleFormGroupKey, $event)"
          [hidden]="true">
        </app-playlist-schedule>
      </div> -->

      <div *ngFor="let playerSetupMenu of playerSetupMenus; let index = index" [ngSwitch]="index">
        <div *ngIf="playerSetupMenu.Selected">
          <div *ngSwitchCase="0">
            <!-- Summary -->
            <div>
              <div>
                <span class="player-setup-summary-title">Device:</span>
                &nbsp;
                <span *ngIf="hasFormSectionValid(1)" class="player-setup-link" [class.invalid]="!selectedDevice?.IsOnline">{{selectedDevice?.Text}}</span>
                <div *ngIf="hasFormSectionValid(1)" class="mt-2">
                    <!-- *ngIf="selectedDevice?.IsOnline" -->
                  <button type="button" class="btn btn-player-setup-reboot"  (click)="rebootDevice()">Reboot</button>
                </div>
                <span *ngIf="!hasFormSectionValid(1)" class="player-setup-link">No device connected</span>
              </div>
            </div>
            <hr class="player-setup-summary-margin">

            <div>
              <div>
                <span class="player-setup-summary-title">Playlist:</span>
                &nbsp;
                <span *ngIf="!hasFormSectionValid(2)" class="player-setup-link">No assigned playlist</span>
                <span *ngIf="hasFormSectionValid(2)">{{selectedPlaylist.Text}}</span>
              </div>
            </div>

            <hr class="player-setup-summary-margin">

            <div>
              <div>
                <span class="player-setup-summary-title">Screen Orientation:</span>
                &nbsp;
                <span *ngIf="!hasFormSectionValid(2)" class="player-setup-link"></span>
                <span *ngIf="hasFormSectionValid(2)">
                  <span *ngIf="IsLandscape.value">
                    <svg height="22" width="22">
                      <rect height="12" width="22" x="0" y="3"></rect>
                    </svg>
  
                    Landscape
                  </span>
                  <span *ngIf="IsPortrait.value">
                    <svg width="12" height="22">
                      <rect width="12" height="22" x="0" y="0">
                      </rect>
                    </svg>
                    Portrait
                  </span>
                </span>
              </div>
            </div>

            <hr class="player-setup-summary-margin">

            <div>
              <div>
                <span class="player-setup-summary-title">Display Size:</span>
                &nbsp;
                <span *ngIf="!hasFormSectionValid(2)" class="player-setup-link"></span>
                <span *ngIf="hasFormSectionValid(2) && selectedDisplaySize !=null">{{selectedDisplaySize.Text}}</span>
              </div>
            </div>

            <hr class="player-setup-summary-margin">

            <div>
              <div>
                <span class="player-setup-summary-title">Schedule:</span>
              </div>
              <div *ngIf="!hasFormSectionValid(2)"></div>
              <div *ngIf="hasFormSectionValid(2) && ScheduleIsEveryday !== null">
                <span *ngIf="ScheduleIsEveryday.value">
                  <span *ngIf="ScheduleIsForFullDay.value">
                    24 / 7
                  </span>
                  <span *ngIf="!ScheduleIsForFullDay.value">
                    Every Day
                    (
                    {{ScheduleStartTime.value}}
                    -
                    {{ScheduleEndTime.value}}
                    )
                  </span>
                </span>
                <span *ngIf="!ScheduleIsEveryday.value">
                  {{selectedDays}}
                  <span *ngIf="!ScheduleIsForFullDay.value">
                    (
                    {{ScheduleStartTime.value}}
                    -
                    {{ScheduleEndTime.value}}
                    )
                  </span>
                </span>
              </div>
            </div>

            <hr class="player-setup-summary-margin">

            <div>
              <div class="form-group custom-control custom-checkbox player-setup-checkbox">
                <input name="player-setup-notfiy-chk" type="checkbox" class="custom-control-input" id="player-setup-notfiy-chk">
                <label class="custom-control-label player-setup-control-label" for="player-setup-notfiy-chk">
                  Notify me when "Offline"
                </label>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="1">
            <!-- Device -->
            <div  *ngIf="hasFormSectionValid(1)">
              <div class="d-flex align-items-center justify-content-between">
                <div class="device-status">
                  <span class="device-status-bar" [ngClass]="{'valid': selectedDevice?.IsOnline, 'invalid': !selectedDevice?.IsOnline}"></span>
                  <span class="status-text" [ngClass]="{'valid': selectedDevice?.IsOnline, 'invalid': !selectedDevice?.IsOnline}">
                    {{selectedDevice?.IsOnline ? 'ONLINE': 'OFFLINE'}}
                  </span>
                </div>
                <!-- *ngIf="selectedDevice?.IsOnline" -->
                <button type="button" class="btn btn-player-setup-reboot"  (click)="rebootDevice()">Reboot</button>
              </div>

              <hr class="player-setup-summary-margin">

              <div (mouseenter)="showRemoveDeviceIcon = true" 
                (mouseleave)="showRemoveDeviceIcon = false"
              class="d-flex align-items-center justify-content-between">
                <span class="font-weight-bold">{{selectedDevice?.Text}}</span>
                <a *ngIf="!isControlCenterDataReceived && showRemoveDeviceIcon" href="javascript:void(0);" (click)="deSelectDevice(selectedDevice?.Id)">
                   <img src="/assets/images/Close-X-black.svg" alt="Remove">
                 </a>
              </div>
            </div>
            <div *ngIf="!hasFormSectionValid(1)">
              <div formArrayName="DeviceListCheckBoxGroup" class="player-setup-lazy-load" infinite-scroll
                [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle" [scrollWindow]="false"
                (scrolled)="onScrollDownDeviceList($event)">
                <div *ngFor="let control of DeviceListCheckBoxGroup.controls; let i = index;" class="form-group custom-control custom-checkbox player-setup-checkbox"
                  [formGroup]="control">
                  <div *ngIf="i === 1" class="player-setup-avail-devices-text">Available Devices</div>

                  <div>
                    <input type="checkbox" formControlName="Checked" (change)="onChangeDevice($event, i)" class="custom-control-input"
                      id="device-chk-{{i}}">
                    <!-- [class.offline]="i > 0 && !control.controls.IsOnline?.value" -->
                    <label class="custom-control-label player-setup-control-label" for="device-chk-{{i}}">
                      {{control.controls.Text.value}}
                      <!-- <small *ngIf="i > 0 && !control.controls.IsOnline?.value">(OFFLINE)</small> -->
                      <!-- <div *ngIf="control.controls.Playlist?.value?.Id > 0">
                      * Linked to {{control.controls.Playlist.value.Name}}
                    </div> -->
                    </label>
                  </div>

                  <div *ngIf="i == 0 && IsNewDeviceSelected.value">
                    <div class="form-group" style="padding-left: 10px">
                      <span>
                        Connect your device and enter
                        <br>
                        the code displayed on the screen
                      </span>
                      <!-- To do: need to remove after app setup -->
                      <!-- <br>
                      <span style="color:red;">
                        
                        Note: PIN code will be automatically filled for temporary purposes
                        <br>
                        since no actual device is connected with app
                      </span> -->
                    </div>

                    <div formGroupName="NewDevice" style="margin-left: -1.5rem;">
                      <div class="mb-2">
                        <input type="text" formControlName="Code" class="form-control" placeholder="Enter PIN Code" (keydown)="invalidRegistrationCodeMsg = null" (blur)="getDeviceDetailsByCode()" />

                        <div *ngIf="(control.controls.NewDevice.controls.Code.dirty || control.controls.NewDevice.controls.Code.touched)"
                          class="invalid-feedback" style="display: block">
                          <!-- <span *ngIf="control.controls.NewDevice.controls.Code.errors.required">PIN code is required</span> -->
                          <span *ngIf="!isNewDeviceCodeValid">PIN code is required</span>
                          <span *ngIf="isNewDeviceCodeValid && !isBlurApiCall">{{invalidRegistrationCodeMsg}}</span>
                        </div>
                      </div>
                      <div class="mb-2">
                        <input type="text" formControlName="Name" class="form-control" placeholder="Device name" />

                        <div *ngIf="!isNewDeviceNameValid && (control.controls.NewDevice.controls.Name.dirty || control.controls.NewDevice.controls.Name.touched)"
                          class="invalid-feedback" style="display: block">
                          <!-- <span *ngIf="control.controls.NewDevice.controls.Name.errors.required">Device name is required</span> -->
                          <span>Device name is required</span>
                        </div>
                      </div>

                      <div class="mb-2">
                        <input type="button" class="btn btn-player-setup-green" [disabled]="!isNewDeviceFormValid"
                          value="Add Device" (click)="saveNewDevice()" />
                      </div>

                      <hr class="mb-2">
                    </div>
                  </div>

                </div>
                <div *ngIf="isDeviceLoading">Loading...</div>
                <div *ngIf="!isDeviceLoading && deviceList.length === 0">No data available</div>
              </div>
            </div>

          </div>

          <div *ngSwitchCase="2">

            <div class="mb-3">
              Create a <a href="javascript:void(0);" (click)="goToCreatePlaylist()" class="player-setup-link"> new
                playlist</a>
            </div>

            <div formArrayName="PlaylistListCheckBoxGroup" class="player-setup-lazy-load" infinite-scroll
              [infiniteScrollDistance]="scrollDistance" [infiniteScrollThrottle]="throttle" [scrollWindow]="false"
              (scrolled)="onScrollDownPlaylistList($event)">
              <div *ngFor="let control of PlaylistListCheckBoxGroup.controls; let i = index;" [formGroup]="control"
                class="form-group custom-control custom-checkbox player-setup-checkbox">
                <input type="checkbox" formControlName="Checked" (change)="onChangePlaylist($event, i)" class="custom-control-input"
                  id="playlist-chk-{{i}}">
                <label class="custom-control-label player-setup-control-label" for="playlist-chk-{{i}}">
                  {{control.controls.Text.value}}
                </label>
              </div>
              <div *ngIf="isLoading">Loading...</div>
              <div *ngIf="!isLoading && playlistList.length === 0">No data available</div>
            </div>
          </div>

          <div *ngSwitchCase="3" formGroupName="Orientation">
            <!-- Screen Orientation -->
            <div>
              <div class="form-group custom-control custom-checkbox player-setup-checkbox">
                <input formControlName="IsLandscape" (change)="onChangeLandscape($event)" name="player-setup-landscape-chk"
                  type="checkbox" class="custom-control-input" id="player-setup-landscape-chk">
                <label class="custom-control-label player-setup-control-label" for="player-setup-landscape-chk">
                  <svg height="22" width="22">
                    <rect height="12" width="22" x="0" y="3"></rect>
                  </svg>

                  Landscape
                </label>
              </div>
            </div>
            <div>
              <div class="form-group custom-control custom-checkbox player-setup-checkbox">
                <input formControlName="IsPortrait" (change)="onChangePortrait($event)" name="player-setup-portrait-chk"
                  type="checkbox" class="custom-control-input" id="player-setup-portrait-chk">
                <label class="custom-control-label player-setup-control-label" for="player-setup-portrait-chk">
                  <svg width="12" height="22">
                    <rect width="12" height="22" x="0" y="0">
                    </rect>
                  </svg>
                  Portrait
                </label>
              </div>
            </div>
          </div>

          <div *ngSwitchCase="4">
            <!-- Display size -->

            <div formArrayName="DisplaySizeListCheckBoxGroup">
              <div *ngFor="let control of DisplaySizeListCheckBoxGroup.controls; let i = index;" class="form-group custom-control custom-checkbox player-setup-checkbox"
                [formGroup]="control">
                <input type="checkbox" formControlName="Checked" (change)="onChangeDisplaySize($event, i)" class="custom-control-input"
                  id="display-chk-{{i}}">
                <label class="custom-control-label player-setup-control-label" for="display-chk-{{i}}">
                  {{control.controls.Text.value}}
                </label>
              </div>
              <div *ngIf="isLoading">Loading...</div>
              <div *ngIf="!isLoading && displaySizeList.length === 0">No data available</div>
            </div>
          </div>

          <div *ngSwitchCase="5">
            <!-- [hidden]="index !== 5" -->
            <!-- Schedule -->
            <app-playlist-schedule [playlistSchedule]="playlistSchedule" (formReady)="formInitialized(scheduleFormGroupKey, $event)">
            </app-playlist-schedule>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div @SlideToggleRight *ngIf="isGuideOpened" class="popoverPlayerSetupGuide">
    <div>
      <div>
        To set up a new player, make sure you have the following 5 fields populated - Device, Playlist, Orientation,
        Size and Schedule.
        <img src="./assets/images/video.png" width="17" height="17" />
      </div>
      <div class="mt-3">
        <video width="100%" controls>
          <source src="https://cityeopublished.blob.core.windows.net/videos/medialibrary/original_c6f3db34ed044c318fffa72b588f9202.mp4">
          Browser not supported
        </video>
      </div>
      <div class="mt-2">
        <a href="javascript:void(0);" class="link" (click)="hidePlayerSetupGuide()">
          <img src="./assets/images/Close-X-black.svg" width="12" />
          &nbsp;Hide</a>
      </div>
    </div>
  </div>
</div>