<div class="container-fluid playlist-container">
  <div class="row">
    <div class="d-flex flex-row align-items-center flex-fill col-lg-12">
      <div class="media-1">
        <span class="playlist-text">Playlist</span>
      </div>
      <div class="media-2">
        <div class="wrapper">
          <img src="./assets/images/Search Glass_nav.svg" class="playlist-search-icon" height="18" width="17" />
        </div>
      </div>
      <div class="media-3 ml-auto">
        <button [routerLink]="['manage-playlist']" type="button" class="btn add-playlist-btn">
          <span class="playlist-btn-text" [class.span-text-mac-other]="browserType === 'other' && os === 'mac'"
            [class.span-text-firefox]="browserType === 'firefox'">New Playlist</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 40px;margin-bottom: 20px;margin-right: 0px;min-height: 60px;">
    <div class="col-sm-12" style="display: flex;justify-content: space-between;">
      <div class="d-flex flex-row align-items-center">
        <div *ngIf="hasCheckedPlaylistAcrossPages()" style="margin-right: 15px; margin-bottom: 35px;">
          <div class="custom-control custom-checkbox playlist-checkbox">
            <input (change)="playlistCheckAll($event)" ([ngModel])="checkAllPlayLists" name="playlist-chk-all" type="checkbox"
              class="custom-control-input" id="playlist-chk-all">
            <label [class.playlist-check-show]="hasCheckedPlaylistAcrossPages()" class="playlist-control-label custom-control-label all-playlist-control"
              for="playlist-chk-all"></label>
          </div>
        </div>
        <div *ngIf="hasCheckedPlaylistAcrossPages()" style="margin-right: 36px; margin-top: 3px;">
          <div class="d-flex flex-row align-items-center">
            <div>
              <a href="javascript:void(0);" class="playlist-trash" (click)="removeAllCheckedPlaylist()">
                <img src="./assets/images/Trash can.svg" width="16" height="23" />
              </a>
            </div>
            <div style="margin-top: 0px; margin-left:3px;">
              <span style="color: #222222;font-size: 13px;">[ {{playlistCheckedLength()}} ]</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center" *ngIf="TotalRecords > 0">
        <app-pager [totalRecords]="TotalRecords" [currentPage]="PageStart" [pageSize]="PageSizeUnit" [currentPageSize]="PageSize"
          (onPageChanged)="setPage($event)" (onPageSizeChanged)="setPageSize($event)">
        </app-pager>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table [class.playlist-all-checked-show]="hasCheckedPlaylistAcrossPages()" class="playlist-table table table-borderless">
        <thead>
          <tr>
            <th [width]="10"></th>
            <th [width]="420">Name</th>
            <th [width]="420">Preview</th>
            <!-- <th [width]="100">Schedule</th> -->
            <!-- <th>Size</th>
            <th>Last Updated</th> -->
          </tr>
        </thead>
        <tbody>
          <ng-template [ngIf]="!isLoading">
            <tr *ngFor="let playlist of playlistList; let i = index;">
              <td>
                <div class="custom-control custom-checkbox playlist-checkbox">
                  <input (change)="checkPlaylist($event, playlist)" [checked]="playlist.Checked" ([ngModel])="playlist.Checked"
                    name="playlist-chk-{{i}}" type="checkbox" class="custom-control-input" id="playlist-chk-{{i}}">
                  <label [class.playlist-check-show]="hasCheckedPlaylistAcrossPages()" class="playlist-control-label custom-control-label"
                    for="playlist-chk-{{i}}"></label>
                </div>
              </td>
              <td>
                <div class="playlist-title">
                  <a href="javascript:void(0);" [routerLink]="['manage-playlist', playlist.Id]" [title]="playlist.Name">{{playlist.Name}}</a>
                </div>
              </td>
              <td>
                <div class="d-flex flex-row align-items-center" style="max-width: calc(0% + 59*4px);" [popover]="playlistInfoTemplate"
                  placement="right" triggers="mouseenter:mouseleave" containerClass="popoverPlaylistInfo">
                  <ng-template ngFor let-i="index" let-playListItem [ngForOf]="playlist.PlayListItems">
                    <a href="javascript:void(0);" (click)="previewPlayList(playlist)">
                      <img class="playlist-img" src="{{playListItem.MediaLibrary.ThumbnailUrl}}" />
                    </a>
                  </ng-template>
                </div>

                <ng-template #playlistInfoTemplate>
                  <div>
                    <div>
                      <div class="text-gray text-uppercase">Playlist size</div>
                      <span>{{commonFunctionsService.formatFileSize(playlist.TotalFileSize)}}</span>
                    </div>
                    <div class="mt-3">
                      <div class="text-gray text-uppercase">Last Update</div>
                      <span>{{playlist.ModifiedDatetime | date: 'MMM d, yyyy h:mm a'}}</span>
                    </div>
                  </div>
                </ng-template>
              </td>
              <!-- <td>
                <div *ngIf="playlist !== undefined && playlist != null">
                  <a href="javascript:void(0);" class="playlist-schedule-link" (click)="openSchedulePopup(playlist)">
                    <span *ngIf="playlist.IsEveryday">
                        <span *ngIf="playlist.IsForFullDay">
                            24 / 7
                        </span>
                        <span *ngIf="!playlist.IsForFullDay">
                            Every Day 
                            ( 
                            {{commonFunctionsService.formatTimeAMPM(playlist.StartTimeMinutes)}} 
                            - 
                            {{commonFunctionsService.formatTimeAMPM(playlist.EndTimeMinutes)}}
                            )
                        </span>
                    </span>
                    <span *ngIf="!playlist.IsEveryday">
                        {{commonFunctionsService.formatDaysFromNumbers(playlist.Days)}}
                        <span *ngIf="!playlist.IsForFullDay">
                            ( 
                            {{commonFunctionsService.formatTimeAMPM(playlist.StartTimeMinutes)}} 
                            - 
                            {{commonFunctionsService.formatTimeAMPM(playlist.EndTimeMinutes)}}
                            )
                        </span>
                    </span>
                  </a>
                </div>
              </td> -->
              <!-- <td>{{commonFunctionsService.formatFileSize(playlist.TotalFileSize)}}</td>
              <td>{{playlist.ModifiedDatetime | date: 'MMM d, yyyy h:mm a'}}</td> -->
            </tr>

            <tr *ngIf="playlistList.length == 0">
              <td class="text-center" colspan="5">No data available</td>
            </tr>
          </ng-template>
          <tr *ngIf="isLoading">
            <td class="text-center" colspan="6">Loading...</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="row" *ngIf="TotalRecords > 0" style="margin-right: 0;">
    <div class="col-lg-12">
      <div class="pull-right">
        <app-pager [totalRecords]="TotalRecords" [currentPage]="PageStart" [pageSize]="PageSizeUnit" [currentPageSize]="PageSize"
          (onPageChanged)="setPage($event)" (onPageSizeChanged)="setPageSize($event)" [isUpDropdown]="true"
          [hidePageSizeChanger]="true">
        </app-pager>
      </div>
    </div>
  </div>
</div>