.playlist-container {
    margin-top: 27px;
    margin-bottom: 70px;
}
.wrapper {
    position: relative;
    background-color: #F5F5F5;
    height: 34px;
    width: 36px;
    border-radius: 30px;
    margin-left: 33px;
    margin-top: 5px;
}
.wrapper:hover {
    background-color: #EDEDED;
}
.playlist-search-icon  {
    position: absolute;
    top: 7px;
    left: 8.5px;
    color: black;
}
.add-playlist-btn {
    padding: 5px 28px;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    height: 34px;
    font-size: 15px;
    float: right;
    border: 1px solid blue;
    -webkit-appearance: none;
    vertical-align: middle;
}
.playlist-text {
    font-size: 34px;
    font-family: Georgia;
}
.btn-playlist-text {
    vertical-align: initial;
}
.playlist-table {
    font-size: 13px;
    color: #222222;
    font-weight: 600;
    white-space: nowrap;
    /* margin-top: 65px; */
}
.playlist-table tbody > tr {
    border-bottom: 1px solid #E0E0E0;
}
.playlist-table thead > tr th {
    color: #B2B2B2;
    font-size: 12px;
}

.playlist-table tbody > tr td {
    vertical-align: middle
}

.playlist-table tbody > tr td:first-child{
    padding-left: 0;
    padding-right: 0;
}

.playlist-online {
    border: 1px solid #71E001;
}
.playlist-offline {
    border: 1px solid #F5031F;
}
::ng-deep .playlist-control-label {
    /* top: 45%;
    right: -25%; */
    /* top: -8%;
    right: -8%; */
    position: absolute;
    display: none;
}
::ng-deep .playlist-checkbox .custom-control-input:checked~.playlist-control-label::before {
    background-color: #43ADE5;
    border-radius: 2px;
    border: none;
    height: 20px;
    width: 20px;
}
::ng-deep .playlist-checkbox .playlist-control-label::before {
    border-radius: 2px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 20px;
    width: 20px;
}
::ng-deep .playlist-control-label::after { 
    top: 0.25rem;
    left: -1.55rem;
    width: 1.3rem;
    height: 1.3rem;
    background-size: 48% 81%;   
}
.playlist-table tbody > tr:hover ::ng-deep .playlist-control-label{
    display: inline-block;
}
.playlist-check-show {
    display: inline-block;
}
.playlist-all-checked-show {
    /* margin-top: 6px; */
}
.all-playlist-control {
    position: inherit;
    top: inherit;
}
.all-playlist-control::before{
    border: 1px solid #363636;
}
.playlist-trash {
    padding: 7px 10px 11px 10px;
    border-radius: 28px;
}
.playlist-trash:hover {
    transition: ease-in-out 0.3s;
    background-color: #FAECEC;
}
.adjust-chk-vertical {
    top: 128% !important;
}
.is-vertical {
    height: 90px !important;
}
.vertical-img {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    display: block;
}   
.add-playlist-btn {
    padding: 5px 22px;
    border-radius: 4px;
    background-color: transparent;
    color: #369FEC;
    height: 34px;
    font-size: 15px;
    font-weight: 600;
    float: right;
    border: 1.5px solid #369FEC;
    -webkit-appearance: none;
    vertical-align: middle;
}
.add-playlist-btn:hover {
    background-color: #43ade5;
    color: white;
}
.playlist-btn-text {
    vertical-align: initial;
}
.playlist-img{
   width: 59px;
   height: 59px;
   object-fit: cover; 
}

.playlist-title{
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.playlist-title a{
    color: #222222;
    text-decoration: none;
    cursor: pointer;
}

.playlist-pager{
    margin: 15px 0;
}


::ng-deep .popover.popoverPlaylistInfo{
    border: none;
    -webkit-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 3px rgba(0,0,0,0.16);
    background-color: #F4F4F4;
    letter-spacing: 0.05em;
    font-size: 12px;
    font-weight: 700;
    color: #222222;
}

::ng-deep .popover.popoverPlaylistInfo > .arrow:after{
    border-right-color: #F4F4F4;
}

.text-gray{
    color: #B2B2B2;
}

.playlist-schedule-link{
    color: #222222;
    text-decoration: none;
}

.playlist-schedule-link.red, .playlist-schedule-link.red span{
    color: #F5031F;
}

.playlist-schedule-link:hover, .playlist-schedule-link.red:hover{
    color: #43ade5;
}