<div class="media-upload-container">
  <div style="position: absolute; left: 1%;">
    <a href="javascript:void(0);" (click)="backToMedia()">
      <img src="./assets/images/add media back btn.svg" height="30" width="49">
    </a>
  </div>
  <div>
    <div>
      <span class="add-media-text" *ngIf="mediaLibraryId === 0">Add Media</span>
      <span class="add-media-text" *ngIf="mediaLibraryId > 0">Edit Media</span>
    </div>
    <div [class.file-drop-hover]="fileDragged" class="file-drop-container img-fluid" (drop)="fileDropHandler($event)"
      (dragleave)="fileDragLeave($event)" (dragover)="enableDrop($event)">
      <div class="drop-content content">
        <div class="d-flex flex-column" style="margin-top: 17px;">
          <div class="p-1 file-drop-text">Drag Media Here</div>
          <div class="p-1 file-drop-sub-text">Maximum size: 50 MB</div>
          <div class="p-1 margin-auto">
            <button *ngIf="mediaLibraryId === 0" (click)="fileBrowse.click()" type="button" class="btn btn-select-files">
              <span [class.select-text-mac-other]="browserType === 'other' && os === 'mac'" [class.select-text-firefox]="browserType ==='firefox'"
                class="select-text">Select Files</span>
            </button>

            <button *ngIf="mediaLibraryId > 0" (click)="editfileBrowse.click()" type="button" class="btn btn-select-files">
              <span [class.select-text-mac-other]="browserType === 'other' && os === 'mac'" [class.select-text-firefox]="browserType ==='firefox'"
                class="select-text">Select Files</span>
            </button>
          </div>
        </div>
      </div>
      <div>
        <input  type="file" accept=".jpg,.jpeg,.png, video/*"  (change)="onFileBrowse($event.target.files)" hidden
          #fileBrowse multiple>
      </div>
      
      <div >
          <input type="file" accept=".jpg,.jpeg,.png, video/*" (change)="onFileBrowse($event.target.files)" hidden
          #editfileBrowse>
      </div>
    </div>
  </div>
  <div class="media-upload-table-container" *ngIf="uploadedMedia.length > 0">
    <table class="media-upload-table table table-borderless">
      <thead>
        <tr>
          <th style="width: 246px"></th>
          <th class="media-progress-bar"></th>
          <th style="width: 100px;"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let media of uploadedMedia; let i = index">
          <td>
            <div class="d-flex flex-row align-items-center">
              <div style="margin-right: 8px;">
                <!-- <img *ngIf="media.Id !== undefined" class="add-media-img" src="{{media.ThumbnailUrl}}"> -->
                <!-- *ngIf="media.Id === undefined" -->
                <img  class="add-media-img" src="{{media.FileUrl}}">
              </div>
              <div class="media-file-name">
                <span style="word-wrap: break-word; white-space: pre-line">
                  {{media.FileName}}
                </span>
              </div>
            </div>
          </td>
          <td style="vertical-align:middle;">
            <div class="d-flex flex-column" style="margin-top: 18px;">
              <div>
                <div class="first-progress">
                  <div [ngStyle]="{ 'width.%': media.FileProgress }" class="second-progress">

                  </div>
                </div>
              </div>
              <div class="text-center">
                {{ media.FileProgessSize }} of {{ media.FileSize }}
              </div>
            </div>
          </td>
          <td style="vertical-align:middle;text-align: right;">
            <div class="media-upload-check">
              <i *ngIf="hasImageShownOnPageLoad || (media.FileProgress === 100 && !media.hasError && (media?.Id > 0))" style="color: #43ADE5; font-size: 17px; transform: rotate(-15deg)"
                class="fa fa-check" aria-hidden="true"></i>
              <i *ngIf="media.hasError" style="color: #F5031F; font-size: 17px;"
                class="fa fa-close" aria-hidden="true"></i>
            </div>
          </td>
          <td *ngIf="mediaLibraryId === 0 && (media?.Id > 0 || media.hasError)" style="vertical-align:middle;">
            <a class="remove-media-txt" (click)="removeImage(media)">
              Remove
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="d-flex flex-row">
      <div style="margin-right: 103px;">
        <img (click)="backToMedia()" src="./assets/images/add media back btn.svg" height="30" width="49">
      </div>
      <div style="margin-left: 173px;">
  
      </div>-->
</div>