.media-upload-container {
    margin-top: 30px;
    white-space: nowrap;
}
.file-drop-container {
    margin-top: 16px;
    height: 136px;
    width: 800px;
    border: #303030 3px dashed;
    min-width: 450px;
  }
  .file-drop-hover {
    /* background-image: url('/assets/images/media upload hover panel.svg'); */
    border: #43ade5 3px dashed;
    background-color: #f1faff;
  }
  .file-drop-container .content {
    margin-top: 12px;
  }
  .drop-content {
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.file-drop-text {
    color: #363636;
    font-weight: bold;
    font-size: 15px;
}
.file-drop-sub-text {
    font-size: 11px;
    color: #767676;
    /* padding: 0px !important; */
    margin-top: -8px;
    text-align: center;
}
.file-drop-over {
    background-color: rgba(147,147,147,.5);
}
.btn-select-files {
    padding: 5px 19px 5px 19px;
    background-color: #43ADE5;
    border: 1px solid #37A2DB;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 15px;
}
.add-media-text {
    color: #000000;
    font-size: 22px;
    font-weight: 600
}
.add-media-img{
    width: 59px;
    height: 59px;
    object-fit: cover;
}
.select-text {
    vertical-align: initial;
}
.select-text-mac-other {
    vertical-align: -webkit-baseline-middle;
}
.select-text-firefox {
    vertical-align: -moz-middle-with-baseline;
}
.media-upload-table {
    font-size: 13px;
    color: #222222;
    font-weight: 600;
    white-space: nowrap;
    margin-top: -10px;
}
.media-upload-table tbody > tr {
    border-bottom: 1px solid #E0E0E0;
}
.remove-media-txt {
    color: #363636;
    font-size: 13px;
    cursor: pointer;
}
.first-progress {
    height: 10px;
    width: 100%;
    background: #ddd;
    border-radius: 4px;
}
.second-progress {
    height: 10px;
    background: #43ADE5;
    border-radius: 4px;
}
@media (max-width: 610px) {
    .media-upload-table-container{
        width: 200px;
    }
    .media-upload-check {
        margin-top: 2px; 
        margin-left: 0px; 
        margin-right:0px;
    }
    .media-upload-container {
        margin-left: 25%;
        margin-right: 25%;
    }
    .media-file-name {
        width: 90px;
    }
}
@media (min-width: 610px) and (max-width: 791px) {
    .media-upload-table-container{
        width: 250px;
    }
    .media-upload-check {
        margin-top: 2px; 
        margin-left: 20px; 
        margin-right:10px;
    }
    .media-upload-container {
        margin-left: 25%;
        margin-right: 25%;
    }
    .media-file-name {
        width: 78px;
    }
}
@media (min-width: 790px) and (max-width: 1010px) { 
    .media-upload-table-container{
        width: 400px;
    }
    .media-upload-check {
        margin-top: 2px; 
        margin-left: 30px; 
        margin-right:10px;
    }
    .media-upload-container {
        margin-left: 25%;
        margin-right: 25%;
    }
    .media-file-name {
        width: 85px;
    }
}
@media (min-width: 1010px) and (max-width: 1281px) {  
    .media-progress-bar {
        width: 250px;
    }
    .media-upload-check {
        margin-top: 2px; 
        margin-left: 40px; 
        margin-right:20px;
    }
    .media-upload-container {
        margin-left: 25%;
        margin-right: 25%;
    }
    .media-file-name {
        width: 144px;
    }
}
@media (min-width: 1281px) and (max-width: 1380px) {
    .media-upload-table-container{
        width: 650px;
    }
    .media-upload-check {
        margin-top: 2px; 
        margin-left: 55px; 
        margin-right:20px;
    }
    .media-progress-bar {
        width: 268px;
    }
    .media-upload-container {
        margin-left: 25%;
        margin-right: 25%;
    }
    .media-file-name {
        width: 150px;
    }
 } 
 @media (min-width: 1381px) and (max-width: 8000px) {
    .media-upload-table-container{
        width: 800px;
    }
    .media-upload-check {
        margin-top: 2px; 
        margin-left: 100px; 
        margin-right:20px;
    }
    .media-progress-bar {
        width: 298px;
    }
    .media-upload-container {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .media-file-name {
        width: 165px;
    }
 } 