<ng-sidebar-container style="height: 100vh;">
  <ng-sidebar position="right" [closeOnClickOutside]="true" [(opened)]="isRightSideBarOpened">
    <app-support-side-nav></app-support-side-nav>
  </ng-sidebar>

  <div ng-sidebar-content>
    <div class="d-flex flex-row w-100">
      <div class="sidenav" [hidden]="isSideBarHidden()">
        <!-- <img class="cityeo-logo" src="./assets/images/digi-sign.svg" width="98" height="29"/> -->
        <div class="cityeo-logo-container">
          <span class="cityeo-logo">digi-sign</span>
        </div>
        <app-side-nav></app-side-nav>
      </div>
      <div class="w-100 page-contain-wrap" [class.adjust-page-for-nosidenav]="isSideBarHidden()">
        <ul class="nav navbar-nav navbar-right" [hidden]="true">
          <li><a *ngIf="!isOnline()" (click)="login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a *ngIf="isOnline()" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          <li><a *ngIf="!isOnline()" (click)="forgotPassword()"><span class="glyphicon glyphicon-log-out"></span>Reset Password</a></li>
        </ul>

        <router-outlet *ngIf="!isIframe"></router-outlet>
      </div>
    </div>
  </div>
</ng-sidebar-container>