.sidenav {
    background-color: #F5F5F5;
    width: 182px;
    position: fixed;
    height: 100%;
    z-index: 1;
}
.cityeo-logo-container {
    position: relative;
    top: 2%;
    left: 12%;
}
.cityeo-logo {
    color: #222222;
    font-family: 'Futura-Heavy';
    font-size: 22px;
    font-weight: bold;
}
.adjust-page-for-nosidenav {
    padding-left: 0px !important;
}
.page-contain-wrap{
    padding-right: 45px;
    padding-left: 200px;
}