ng-sidebar aside {
  background-color: #fdfdfd;
  width: 380px;
  box-shadow: 0 3px 5px #00000016;
}

.support-panel .support-header {
  height: 55px;
  background-color: #f5f5f5;
  padding: 15px;
}
.support-panel .support-header button {
  position: absolute;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.support-header button:focus {
  outline: none;
}
.support-panel .support-header .stab-group {
  text-align: center;
}
.tab-btn {
  position: relative;
  font-size: 16px;
  color: #222222 !important;
  margin: 0 20px;
  cursor: pointer;
}
.tab-btn.active:after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: calc(50% - 13px);
  border-radius: 8px;
  width: 27px;
  height: 4px;
  background-color: #ff6969;
}

accordion .accordion-toggle button.btn.btn-link {
  padding: 0;
  line-height: normal;
  color: #222222;
  font-size: 18px;
}
accordion .accordion-toggle button.btn.btn-link:hover,
accordion .accordion-toggle button.btn.btn-link:focus {
  text-decoration: none;
}
.panel-heading.card-header {
  border: none;
  background-color: transparent;
  padding-left: 24px;
  padding-bottom: 5px;
}
accordion-group .card {
  border: none;
  background-color: transparent;
}
.accordion-toggle {
  cursor: pointer;
  padding-left: 28px;
  position: relative;
}
.accordion-toggle:before {
  position: absolute;
  content: '\f067';
  font-family: FontAwesome;
  left: -4px;
  top: 2px;
  font-weight: normal;
}
.panel-open .accordion-toggle:before {
  content: '\f068';
}
.panel-body.card-block.card-body {
  padding: 0 54px;
  font-size: 14px;
}
.panel-body.card-block.card-body {
  padding: 0 54px;
  font-size: 14px;
}
.get-start video {
  margin-bottom: 18px;
  border-radius: 3px;
}
.get-start ul {
  list-style-type: none;
  padding: 0;
}
.get-start ul li span {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  display: block;
  line-height: normal;
}
.get-start ul li a.text-link {
  color: #0089de;
}
.get-start ul li a.text-link:hover {
  text-decoration: none;
}
