<div class="support-panel">
  <div class="support-header">
    <button (click)="close()"><img src="../../../../assets/images/Close-X-black.svg" /></button>
    <div class="stab-group">
      <a class="tab-btn active">
        Support
      </a>
      <a class="tab-btn">Chat</a>
    </div>
  </div>
  <div class="support-view">
    <accordion [closeOthers]="true" [isAnimated]="true">
      <accordion-group [isOpen]="true" heading="Getting Started">
        <div class="get-start">
          <p>Follow these step’s to create an active playlist.</p>
          <video width="160" height="97" controls>
            <source src="assets/videos/support-video.mp4" type="video/mp4" />
          </video>
          <ul>
            <li>
              <span>Step 1: Add a Device</span>
              <p>
                Download the <a href="javascript:void(0);" class="text-link"> digi-sign app </a>to
                your device (if not pre-installed) from the Windows App Store.
              </p>
            </li>
            <li>
              <span>Step 2: Add Media</span>
              <p>
                Add your photos and videos to the
                <a [routerLink]="['/media-library']" class="text-link"> Media Library</a>.
              </p>
            </li>
            <li>
              <span>Step 3: Create a Playlist</span>
              <p>
                Now that you’ve uploaded your media, create a
                <a [routerLink]="['/playlists']" class="text-link"> Playlist</a>.
              </p>
            </li>
            <li>
              <span>Step 4: Control Center</span>
              <p>
                Now it’s time to take your playlist live. Make sure you have
                checks on all the required items - device, playlist, screen
                orientation, display size and schedule.
                <a [routerLink]="['/control-center']" class="text-link">Control Center</a>
              </p>
            </li>
          </ul>
        </div>
      </accordion-group>
      <accordion-group heading="Contact">
        <p>Contact</p>
      </accordion-group>
    </accordion>
  </div>
</div>
