<div class="container-fluid devices-container">
  <div class="row">
    <div class="d-flex flex-row align-items-center flex-fill col-lg-12">
      <div class="media-1">
        <span class="devices-text">Devices</span>
      </div>
      <div class="media-2">
        <div class="wrapper">
          <img src="./assets/images/Search Glass_nav.svg" class="device-search-icon" height="18" width="17" />
        </div>
      </div>
      <div class="media-3 ml-auto">
        <button [routerLink]="['add-device']" type="button" class="btn add-device-btn">
          <span class="device-btn-text" [class.span-text-mac-other]="browserType === 'other' && os === 'mac'"
            [class.span-text-firefox]="browserType === 'firefox'">Add Device</span>
        </button>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 40px;margin-bottom: 20px;margin-right: 0px;min-height: 60px;">
    <div class="col-sm-12" style="display: flex;justify-content: space-between;">
      <div class="d-flex flex-row align-items-center">
        <div *ngIf="hasCheckedDeviceAcrossPages()" style="margin-right: 15px; margin-bottom: 35px;">
          <div class="custom-control custom-checkbox device-checkbox">
            <input (change)="checkAllDevice = !checkAllDevice; deviceCheckAll()" ([ngModel])="checkAllDevice" name="device-chk-all"
              type="checkbox" class="custom-control-input" id="device-chk-all">
            <label [class.device-check-show]="hasCheckedDeviceAcrossPages()" class="device-control-label custom-control-label all-device-control"
              for="device-chk-all"></label>
          </div>
        </div>
        <div *ngIf="hasCheckedDeviceAcrossPages()" style="margin-right: 36px; margin-top: 3px;">
          <div class="d-flex flex-row align-items-center">
            <div>
              <a href="javascript:void(0);" class="device-trash" (click)="removeAllCheckedDevice()">
                <img  src="./assets/images/Trash can.svg" width="16" height="23" />
              </a>
            </div>
            <div style="margin-top: 0px; margin-left:3px;">
              <span style="color: #222222;font-size: 13px;">[ {{deviceCheckedLength()}} ]</span>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex align-items-center" *ngIf="TotalRecords > 0">
        <app-pager [totalRecords]="TotalRecords" [currentPage]="PageStart" [pageSize]="PageSizeUnit" [currentPageSize]="PageSize"
          (onPageChanged)="setPage($event)" (onPageSizeChanged)="setPageSize($event)">
        </app-pager>
      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-lg-12">
      <table [class.device-all-checked-show]="hasCheckedDeviceAcrossPages()" class="device-table table table-borderless">
        <thead>
          <tr>
            <th [width]="10"></th>
            <th [width]="460">Name</th>
            <th [width]="420">Status</th>
            <th [width]="50">Last Updated</th>
          </tr>
        </thead>
        <tbody>

          <ng-template [ngIf]="!isLoading">
            <tr *ngFor="let device of devicesList; let i = index;">
              <td>
                <div class="custom-control custom-checkbox device-checkbox">
                  <input (change)="checkDevice($event, device)" [checked]="device.Checked" ([ngModel])="device.Checked"
                    name="device-chk-{{i}}" type="checkbox" class="custom-control-input" id="device-chk-{{i}}">
                    <!-- [class.adjust-chk-vertical]="device.Orientation === 'vertical'" -->
                  <label [class.device-check-show]="hasCheckedDeviceAcrossPages()" class="device-control-label custom-control-label" for="device-chk-{{i}}"></label>
                </div>
              </td>
              <td>
                <div class="device-title">
                  <a href="javascript:void(0);" [routerLink]="['edit-device', device.Id]" [title]="device.Name">{{device.Name}}</a>
                </div>
                <!-- *ngIf="device.IsOnline" -->
                <a href="javascript:void(0);"  [hidden]="!device.Checked" 
                (click)="rebootDevice(device)"
                style="color: #43ADE5; font-size: 12px; margin-top: 5px;text-decoration: none;">Reboot</a>
              </td>
              <td>
                <!-- [class.is-vertical]="device.Orientation === 'vertical'" -->
                <div class="d-flex flex-row align-items-center">
                  <!-- [class.vertical-img]="device.Orientation === 'vertical'" -->
                  <div [ngClass]="{'device-online': device.IsOnline, 'device-offline': !device.IsOnline }">
                    <!-- <img src="https://picsum.photos/59/59" width="87" height="49" /> -->

                    <img *ngIf="device.Thumbnail?.length > 0" class="device-img" [src]="device.Thumbnail" />
                    <img *ngIf="!(device.Thumbnail?.length > 0)" class="device-img" src="../../../assets/images/device-placeholder.png" />
                  </div>
                  <div class="text-center" style="margin-left: 10px; margin-top: 13px;">
                    <span [ngSwitch]="device.IsOnline">
                      <p *ngSwitchCase="true">
                        <span></span>
                      </p>
                      <p *ngSwitchDefault>
                        <span class="device-offline-text">Offline</span>
                      </p>
                    </span>
                  </div>
                </div>
              </td>
              <td>{{device.ModifiedDatetime | date: 'MMM d, yyyy h:mm a'}}</td>
            </tr>
            <tr *ngIf="devicesList.length == 0">
              <td class="text-center" colspan="4">No data available</td>
            </tr>
          </ng-template>
          <tr *ngIf="isLoading">
            <td class="text-center" colspan="4">Loading...</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
  <div class="row" *ngIf="TotalRecords > 0" style="margin-right: 0;">
    <div class="col-lg-12">
      <div class="pull-right">
        <app-pager [totalRecords]="TotalRecords" [currentPage]="PageStart" [pageSize]="PageSizeUnit" [currentPageSize]="PageSize"
          (onPageChanged)="setPage($event)" (onPageSizeChanged)="setPageSize($event)" [isUpDropdown]="true"
          [hidePageSizeChanger]="true">
        </app-pager>
      </div>
    </div>
  </div>

</div>