.devices-container {
    margin-top: 27px;
    margin-bottom: 70px;
}
.wrapper {
    position: relative;
    background-color: #F5F5F5;
    height: 34px;
    width: 36px;
    border-radius: 30px;
    margin-left: 33px;
    margin-top: 5px;
}
.wrapper:hover {
    background-color: #EDEDED;
}
.device-search-icon  {
    position: absolute;
    top: 7px;
    left: 8.5px;
    color: black;
}
.add-device-btn {
    padding: 5px 28px;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
    height: 34px;
    font-size: 15px;
    float: right;
    border: 1px solid blue;
    -webkit-appearance: none;
    vertical-align: middle;
}
.devices-text {
    font-size: 34px;
    font-family: Georgia;
}
.btn-device-text {
    vertical-align: initial;
}
.device-table {
    font-size: 13px;
    color: #222222;
    font-weight: 600;
    white-space: nowrap;
    /* margin-top: 65px; */
}
.device-table tbody > tr {
    border-bottom: 1px solid #E0E0E0;
}
.device-table thead > tr th {
    color: #B2B2B2;
    font-size: 12px;
}

.device-table tbody > tr td {
    vertical-align: middle
}

.device-table tbody > tr td:first-child{
    padding-left: 0;
    padding-right: 0;
}

.device-online {
    border: 1px solid #71E001;
}
.device-offline {
    border: 1px solid #F5031F;
}

.device-offline-text{
    color: #F5031F;
    text-transform: uppercase;
}
::ng-deep .device-control-label {
    /* top: 45%;
    right: -25%; */
    position: absolute;
    display: none;
}
::ng-deep .device-checkbox .custom-control-input:checked~.device-control-label::before {
    background-color: #43ADE5;
    border-radius: 2px;
    border: none;
    height: 20px;
    width: 20px;
}
::ng-deep .device-checkbox .device-control-label::before {
    border-radius: 2px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 20px;
    width: 20px;
}
::ng-deep .device-control-label::after { 
    top: 0.25rem;
    left: -1.55rem;
    width: 1.3rem;
    height: 1.3rem;
    background-size: 48% 81%;   
}
.device-table tbody > tr:hover ::ng-deep .device-control-label{
    display: inline-block;
}
.device-check-show {
    display: inline-block;
}
.device-all-checked-show {
    /* margin-top: 6px; */
}
.all-device-control {
    position: inherit;
    top: inherit;
}

.all-device-control::before{
    border: 1px solid #363636;
}
.device-trash {
    padding: 5px 10px 7px 10px;
    border-radius: 28px;
}
.device-trash:hover {
    transition: ease-in-out 0.3s;
    background-color: #FAECEC;
}
.adjust-chk-vertical {
    top: 128% !important;
}
.is-vertical {
    height: 90px !important;
}
.vertical-img {
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    display: block;
}   
.add-device-btn {
    padding: 5px 22px;
    border-radius: 4px;
    background-color: transparent;
    color: #369FEC;
    height: 34px;
    font-size: 15px;
    font-weight: 600;
    float: right;
    border: 1.5px solid #369FEC;
    -webkit-appearance: none;
    vertical-align: middle;
}
.add-device-btn:hover {
    background-color: #43ade5;
    color: white;
}
.device-btn-text {
    vertical-align: initial;
}

.device-img{
    width: 59px;
    height: 59px;
    object-fit: cover;
    background-color: #efefef;
 }

 .device-title{
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: nowrap;
    max-width: 525px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.device-title a{
    color: #222222;
    text-decoration: none;
    cursor: pointer;
}