.media-library-container {
    margin-top: 27px;
    margin-bottom: 70px;
}
.media-library-text {
    font-family: Georgia;
    font-size: 34px;
}
.media-input-txt {
    padding-left: 35px;
    border: none;
    border-radius: 20px;
    background-color: #EFEFEF;
    height: 34px;
}
.wrapper {
    position: relative;
    background-color: #F5F5F5;
    height: 34px;
    width: 36px;
    border-radius: 30px;
    margin-left: 33px;
    margin-top: 5px;
}
.wrapper:hover {
    background-color: #EDEDED;
}
.device-search-icon  {
    position: absolute;
    top: 7px;
    left: 8.5px;
    color: black;
}
.add-media-btn {
    padding: 5px 24px;
    border-radius: 4px;
    background-color: transparent;
    color: #369FEC;
    height: 34px;
    font-size: 15px;
    font-weight: 600;
    float: right;
    border: 1.5px solid #369FEC;
    -webkit-appearance: none;
    vertical-align: middle;
}
.add-media-btn:hover {
    background-color: #43ade5;
    color: white;
}
.media-select {
    border: 1px solid #363636;
    border-radius: 4px;
    /* margin-top: 15px;
    margin-bottom: 14px; */
    margin-left: -1px;
    height: 34px;
    width: 180px;
    color: #020202;
    font-size: 14px;
    background: url('/assets/images/dropdown-arrow.svg') no-repeat 95% 50%;
    background-size: 6px 5px;
    -moz-appearance: none;
    display: flex;
    -webkit-appearance: none;
    align-items: center;
}
.media-table {
    font-size: 13px;
    color: #222222;
    font-weight: 600;
    white-space: nowrap;
}
.media-table tbody > tr {
    border-bottom: 1px solid #E0E0E0;
}
.media-table thead > tr th {
    color: #B2B2B2;
    font-size: 12px;
}
.media-table tbody > tr:hover ::ng-deep .media-control-label,.pic-edit-menu {
    display: inline-block;
}
.media-table tbody > tr:hover .pic-edit-menu {
    display: block;
}
.media-table tbody > tr > td:first-child {
    padding-left: 0;
    padding-right: 0;
}
.media-check-show {
    display: inline-block;
}
::ng-deep .media-control-label {
    top: 60%;
    position: absolute;
    display: none;
}
::ng-deep .media-checkbox .custom-control-input:checked~.media-control-label::before {
    background-color: #43ADE5;
    border-radius: 2px;
    border: none;
    height: 20px;
    width: 20px;
}
::ng-deep .media-checkbox .media-control-label::before {
    border-radius: 2px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 20px;
    width: 20px;
}
::ng-deep .media-control-label::after { 
    top: 0.25rem;
    left: -1.5rem;
    width: 1.3rem;
    height: 1.3rem;
    background-size: 48% 81%;   
}
.media-carousel-modal {
    width: 788px;
    height: 345px;
    right: 25%;
    border: none;
    border-radius: 0;
}
.media-carousel-modal .modal-body {
    width: 788px;
    padding: 0px;
}
::ng-deep .modal-backdrop.show
{
    opacity:0.7 !important;
}
.modal-description {
    margin-top: 16px;
    margin-right: 27px;
    margin-left: 27px;
    min-width: 260px;
}
.modal-img {
    width: 472px; 
    height: -webkit-fill-available;
    object-fit: contain;
    background-color: #efefef;
}
.text-separator {
    background-color: #222222;
    height: 0px;
}
.modal-img-title {
    font-size: 15px;
    color: #222222;
    font-weight: bold;
}
.modal-img-sub-text {
    color: #222222;
    font-size: 12px;
}
.modal-img-title-container {
    margin-bottom: -13px;
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.modal-img-sub-text-container {
    line-height: 17px;
    margin-top: -9px;
}
.pic-edit-menu {
    margin-left: 4px;
    color: #43ADE5;
    font-size: 12px;
    display: none;
}
.pic-edit-menu a {
    text-decoration: none;
    color: #43ade5;
    cursor: pointer;
}
.all-media-control {
    position: inherit;
    top: inherit;
}
.all-media-control:before {
    border: 1px solid #363636;
}
.media-trash {
    padding: 7px 10px 11px 10px;
    border-radius: 28px;
}
.media-trash:hover {
    transition: ease-in-out 0.3s;
    background-color: #FAECEC;
}
.media-text {
    vertical-align: initial;
}

.media-img{
    width: 59px;
    height: 59px;
    object-fit: cover;
}

.pic-title{
    word-break: break-word;
    overflow-wrap: break-word;
    white-space: nowrap;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.pic-title a{
    color: #222222;
    text-decoration: none;
}
ngx-smart-modal[identifier='zoomedMediaModal'] ::ng-deep .overlay.nsm-overlay-open {
    background-color: rgba(0, 0, 0, 0.7);
    overflow: hidden;
}

ngx-smart-modal[identifier='zoomedMediaModal'] ::ng-deep .nsm-dialog.modal{
    display: block;
    max-width: 100%;
}

ngx-smart-modal[identifier='zoomedMediaModal'] ::ng-deep .nsm-content {
    background-color: transparent;
    margin: 0;
    /* pointer-events: unset; */
}

ngx-smart-modal[identifier='zoomedMediaModal'] ::ng-deep .nsm-dialog-btn-close
{
    background-image: url('/assets/images/Close X.svg');
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    top: 24px;
    right: 24px;
}

ngx-smart-modal[identifier='zoomedMediaModal'] ::ng-deep .nsm-dialog-btn-close img{
    display: none;
}

ngx-smart-modal[identifier='zoomedMediaModal'] .modal-dialog{
    max-width: 500px;
    margin: 1.75rem auto;
    height: auto;
}

ngx-smart-modal[identifier='zoomedMediaModal'] .modal-content{
    background-color: #fff;
}