<div class="container-fluid media-library-container">
  <div class="row">
    <div class="col-lg-12">
      <div class="d-flex flex-row align-items-center flex-fill">
        <div class="media-1">
          <span class="media-library-text">Media Library</span>
        </div>
        <div class="media-2">
          <div class="wrapper">
            <img src="../../../assets/images/Search Glass_nav.svg" class="device-search-icon" height="18" width="17" />
          </div>
        </div>
        <div class="media-3 ml-auto">
          <button type="button" [routerLink]="['add-media']" class="btn add-media-btn">
            <span class="media-text" [class.span-text-mac-other]="browserType === 'other' && os === 'mac'"
              [class.span-text-firefox]="browserType === 'firefox'">Add Media</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 40px;margin-bottom: 20px;margin-right: 0px;min-height: 60px;">
    <div class="col-sm-12" style="display: flex;justify-content: space-between;">
      <div class="d-flex flex-row align-items-center">
        <div *ngIf="hasCheckedMediaAcrossPages()" style="margin-right: 15px; margin-bottom: 35px;">
          <div class="custom-control custom-checkbox media-checkbox">
            <input (change)="mediaCheckAll($event)" ([ngModel])="checkAllMedia" name="media-chk-all" type="checkbox"
              class="custom-control-input" id="media-chk-all">
            <label [class.media-check-show]="hasCheckedMediaAcrossPages()" class="media-control-label custom-control-label all-media-control"
              for="media-chk-all"></label>
          </div>
        </div>
        <div *ngIf="hasCheckedMediaAcrossPages()" style="margin-right: 36px; margin-top: 3px;">
          <div class="d-flex flex-row align-items-center">
            <div>
              <a href="javascript:void(0);" class="media-trash" (click)="removeAllCheckedMedia()">
                <img src="../../../assets/images/Trash can.svg" width="16" height="23" />
              </a>
            </div>
            <div style="margin-top: 0px; margin-left:3px;">
              <span style="color: #222222;font-size: 13px;">[ {{mediaCheckedLength()}} ]</span>
            </div>
          </div>
        </div>
        <div *ngIf="!hasCheckedMediaAcrossPages()">
          <select (change)="getMediaLibraryList()" [(ngModel)]="selectedMediaLibraryType" [class.select-mac-other]="browserType === 'other' && os === 'mac'"
            class="form-control media-select">
            <option *ngFor="let mediaLibraryType of mediaLibraryTypes" [ngValue]="mediaLibraryType" [ngSwitch]="mediaLibraryType.Name">
              <span class="media-text" [class.span-text-mac-other]="browserType === 'other' && os === 'mac'"
                [class.span-text-firefox]="browserType === 'firefox'">
                {{mediaLibraryType.Name}}

                <span *ngSwitchCase="'Image'">({{TotalImageRecords}})</span>
                <span *ngSwitchCase="'Video'">({{TotalVideoRecords}})</span>
                <span *ngSwitchDefault>({{TotalRecords}})</span>
              </span>
            </option>
          </select>
        </div>
      </div>
      <div class="d-flex align-items-center" *ngIf="TotalRecords > 0">
        <app-pager [totalRecords]="TotalRecords" [pageSize]="PageSizeUnit" [currentPage]="PageStart" [currentPageSize]="PageSize"
          (onPageChanged)="setPage($event)" (onPageSizeChanged)="setPageSize($event)">
        </app-pager>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="media-table table table-borderless">
        <thead>
          <tr>
            <th [width]="10"></th>
            <th [width]="500" scope="col">Name <i style="margin-left: 14px;" class="fa fa-caret-down" aria-hidden="true"></i></th>
            <th [width]="150" scope="col">Dimensions <i style="margin-left: 14px;" class="fa fa-caret-down" aria-hidden="true"></i></th>
            <th [width]="150" scope="col">Size <i style="margin-left: 14px;" class="fa fa-caret-down" aria-hidden="true"></i></th>
            <th [width]="150" scope="col">Type <i style="margin-left: 14px;" class="fa fa-caret-down" aria-hidden="true"></i></th>
            <th [width]="150" scope="col">Date added <i style="margin-left: 14px;" class="fa fa-caret-down" aria-hidden="true"></i></th>
          </tr>
        </thead>
        <tbody>
          <ng-template [ngIf]="!isLoading">
            <tr *ngFor="let media of mediaLibraries; let i = index">
              <td>
                <div class="custom-control custom-checkbox media-checkbox">
                  <input (change)="checkMedia($event, media);" [checked]="media.Selected" ([ngModel])="media.Selected"
                    name="media-chk-{{i}}" type="checkbox" class="custom-control-input" id="media-chk-{{i}}">
                  <label [class.media-check-show]="hasCheckedMediaAcrossPages()" class="media-control-label custom-control-label"
                    for="media-chk-{{i}}"></label>
                </div>
              </td>
              <td>
                <div class="d-flex flex-row">
                  <div>
                    <a href="javascript:void(0);" (click)="zoomMedia(media)">
                      <img class="media-img" style="margin-right: 8px;" src="{{media.ThumbnailUrl}}">
                    </a>
                  </div>
                  <div>
                    <div class="d-flex align-items-start flex-column h-100">
                      <div class="mb-auto pic-title">
                        <a href="javascript:void(0);" (click)="zoomMedia(media)" [title]="media.Title"><span>{{media.Title}}</span></a>
                      </div>
                      <div>
                        <span class="pic-edit-menu">
                          <a [routerLink]="['edit-media', media.Id]" [hidden]="media.Selected" style="margin-right: 7px;">Edit</a>
                          <span [hidden]="media.Selected"> | </span>
                          <a (click)="removeMedia(media)" [ngStyle]="{'margin-left': media.Selected ? '2px' : '7px' }"
                            style="cursor: pointer;">Trash</a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>{{media.FrameWidth}} x {{media.FrameHeight}} </td>
              <td>{{commonFunctionsService.formatFileSize(media.FileSize) }}</td>
              <td>{{media.MIMEType}}</td>
              <td>{{media.CreatedDatetime | date: 'MMM d, yyyy h:mm a'}}</td>
            </tr>

            <tr *ngIf="mediaLibraries.length == 0">
              <td class="text-center" colspan="6">No data available</td>
            </tr>
          </ng-template>
          <tr *ngIf="isLoading">
            <td class="text-center" colspan="6">Loading...</td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
  <div class="row" *ngIf="TotalRecords > 0" style="margin-right: 0;">
    <div class="col-lg-12" >
      <div class="pull-right">
        <app-pager [totalRecords]="TotalRecords" [pageSize]="PageSizeUnit" [currentPage]="PageStart" [currentPageSize]="PageSize"
          (onPageChanged)="setPage($event)" (onPageSizeChanged)="setPageSize($event)" [isUpDropdown]="true"
          [hidePageSizeChanger]="true">
        </app-pager>
      </div>
    </div>
  </div>
</div>

<ngx-smart-modal #zoomedMediaModal identifier="zoomedMediaModal" customClass="modal" dismissable="true" backdrop="true"
  (onDismiss)="onClickedOutsideZoomMediaModal($event)" (onAnyCloseEvent)="onClickedOutsideZoomMediaModal($event)">
  <div *ngIf="zoomedMediaModal.hasData()">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="media-carousel-modal modal-content">
        <div class="modal-body">
          <div class="d-flex flex-row">
            <div *ngIf="!this.hidePrevZoomMediaBtn">
              <a href="javascript:void(0);" (click)="previousMedia(zoomedMediaModal.getData())">
                <img style="cursor:pointer; position: absolute; left:-7%;top:42%;" height="38" width="25" src="../../../assets/images/Arrow-left-white.svg" />
              </a>
            </div>
            <div>
              <!-- <div *ngIf="!isVideoType(zoomedMediaModal.getData().MediaLibraryTypeId)" 
                  class="modal-img" 
                  [ngStyle]="{'background-image': 'url(' + zoomedMediaModal.getData().Url + ')'}"
                    style="background-size: contain;background-position: center center;background-repeat: no-repeat;">
                  </div> -->

              <img *ngIf="!isVideoType(zoomedMediaModal.getData().MediaLibraryTypeId)" class="modal-img" src="{{zoomedMediaModal.getData().Url}}" />

              <div *ngIf="isVideoType(zoomedMediaModal.getData().MediaLibraryTypeId)">
                <video width="472" [src]="zoomedMediaModal.getData().Url" controls>
                  Your browser does not support HTML5 video.
                </video>
              </div>
              <!-- <img class="modal-img" src="{{zoomedMediaModal.getData().Url}}"> -->
            </div>
            <div class="modal-description">
              <div class="modal-img-title-container">
                <span class="modal-img-title" [title]="zoomedMediaModal.getData().Title">{{zoomedMediaModal.getData().Title}}</span>
              </div>
              <hr class="text-separator" />
              <div class="modal-img-sub-text-container">
                <span class="modal-img-sub-text">
                  Dimensions: {{zoomedMediaModal.getData().FrameWidth}} x
                  {{zoomedMediaModal.getData().FrameHeight}}
                </span>
                <br />
                <span class="modal-img-sub-text">
                  File Size: {{commonFunctionsService.formatFileSize(zoomedMediaModal.getData().FileSize)}}
                </span>
                <br />
                <span class="modal-img-sub-text">
                  File Type: {{zoomedMediaModal.getData().MIMEType}}
                </span>
                <br />
                <span *ngIf="isVideoType(zoomedMediaModal.getData().MediaLibraryTypeId)" class="modal-img-sub-text">
                  Duration: {{commonFunctionsService.formatDuration(zoomedMediaModal.getData().Duration,
                  true)}}
                </span>
              </div>
            </div>
            <div *ngIf="!this.hideNextZoomMediaBtn">
              <a href="javascript:void(0);" (click)="nextMedia(zoomedMediaModal.getData())">
                <img style="cursor:pointer; position: absolute; right:-7%;top:42%;" height="38" width="25" src="../../../assets/images/Arrow-right-white.svg" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ngx-smart-modal>