.device-row{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.device-row .device-name {
    font-size: 22px;
    color: #000000;
    margin-bottom: 17px;
    font-weight: 600;
    letter-spacing: 1.1px;
    text-transform: capitalize;
}

.device-row .device-name span:hover{
  cursor: pointer;
}

.device-row .device-name span.inactive{
  color: #EA0024;
}

.device-menu-container{
  display: inline-block;
  margin-left: 20px;
  position: relative;
}

.device-row .device-menu {
    padding: 5px 8px;
    height: 13px;
    width: 30px;
    cursor: pointer;
    border-radius: 3px;
  }

  .device-row .device-menu:hover {
    background-color: #ededed;
  }
  .device-row .device-menu img {
    display: block;
  }
  
  .device-row ul{
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 1000;
    padding: .5rem 0;
    margin: .125rem 0 0;
    width: 105px;
    font-size: 14px;
    color: #222222;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: none;
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25);
    border-radius: .25rem;
  }

  .device-row ul.device-menu-hover{
    top: -37px;
  }

  .device-row ul li{
    text-align: left;
  }

  .device-row ul li a{
    padding: 5px 10px;
    color: #222222;
    text-decoration: none;
    width: 100%;
    display: block;
    text-align: inherit;
    clear: both;
    white-space: nowrap;
    padding: .25rem 1.5rem;
    font-weight: normal;
  }

  .device-row ul li a:hover {
    background-color: #f8f9fa;
  }

  .device-media {
    display: flex;
    overflow: auto;
  }
  
.device-media .media-img{
    width: 80px;
    height: 80px;
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 15px;
    border-radius: 5px;
    box-shadow: 0 3px 7px #d9d8d8;
    box-sizing: content-box;
}

.device-media .media-img.active{
    border: 4px solid #22B200;
}

.device-media .media-img.active.inactive{
    border: 4px solid #EA0024;
}

.device-media .landscape{
    max-width: 80px;
}

.device-media .portrait{
    max-height: 80px;
}

.device-drag-icon {
  display: flex;
  align-items: center;
  height: 80px;
  margin-left: 8px;
  cursor: grab;
}

.manage-playlist {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-left: 30px;
    min-height: 18px;
  }
  
  .manage-playlist img{
      cursor: pointer;
  }

  .manage-playlist span {
    color: #0089de;
    font-size: 12px;
    margin-left: 30px;
    cursor: pointer;
  }

  .offline-msg {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #ea0024;
    margin-left: 17px;
    position: relative;
  }
  .offline-msg > span {
    margin-right: 17px;
  }
  .info-icon {
    height: 22px;
    width: 22px;
    overflow: hidden;
    font-size: 14px;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    color: #afafaf;
    font-weight: 600;
    cursor: pointer;
    padding: 12px;
  }
  .offline-info-msg {
    width: 300px;
    height: 150px;
    background-image: url('/assets/images/Tip-window.svg');
    background-repeat: no-repeat;
    position: absolute;
    display: block;
    right: -292px;
    top: -100px;
    font-size: 14px;
    line-height: 19px;
  }
  .offline-info-msg span {
    padding: 20px 50px 18px 40px;
    display: block;
    color: #222;
  }
  a.text-link {
    color: #0089de;
  }
  .close-tip {
    position: absolute;
    right: 24px;
    top: 4px;
    padding: 4px;
    cursor: pointer;
  }