<div class="device-row" *ngIf="controlCenter != null">
  <div class="device-name mb-2">
    <span [class.inactive]="!controlCenter.IsOnline" (click)="editControlCenter(controlCenter.Id)">{{controlCenter.Name}}</span>

    <div class="device-menu-container">
      <div class="device-menu" id="device-options-trigger-{{index}}" 
      *ngIf="controlCenter.Checked && !isPreview"
        (click)="showControlCenterOptions = true">
        <img src="../../../../assets/images/ellipses-horizontal.svg" />
      </div>
      <ul *ngIf="showControlCenterOptions" (clickOutside)="showControlCenterOptions = false" exclude="#device-options-trigger-{{index}}"
        [class.device-menu-hover]="controlCenter.Checked">
        <li>
          <a href="javascript:void(0);" (click)="removeControlCenter()">Remove</a>
        </li>
        <li>
          <a href="javascript:void(0);" (click)="rebootDevice()">Reboot</a>
        </li>
      </ul>
    </div>

  </div>

  <div class="d-flex align-items-center justify-content-between">
    <div class="d-flex" style="width: calc(100% - 40px);">
      <div class="device-media">
        <ng-template ngFor let-i="index" let-playlistItem [ngForOf]="controlCenter.Playlist.PlayListItems">
          <ng-template [ngIf]="isExpandedPlaylist || (!isExpandedPlaylist && playlistItem.MediaLibrary.Selected)">

            <div class="d-flex align-items-center" *ngIf="playlistItem.MediaLibrary.MediaLibraryTypeId === imageMediaLibraryType
                || (playlistItem.MediaLibrary.MediaLibraryTypeId === videoMediaLibraryType )">
              <!-- && !playlistItem.MediaLibrary.Selected -->
              <img #imageElement [src]="playlistItem.MediaLibrary.ThumbnailUrl" class="media-img" [ngClass]="playlistItem.MediaLibrary.FrameWidth > playlistItem.MediaLibrary.FrameHeight ? 'landscape':'portrait'"
                [class.active]="playlistItem.MediaLibrary.Selected" [class.inactive]="!controlCenter.IsOnline">
            </div>
            <!-- <div class="d-flex align-items-center" 
                *ngIf="playlistItem.MediaLibrary.Selected && playlistItem.MediaLibrary.MediaLibraryTypeId === videoMediaLibraryType">
                  <video #videoElement 
                    class="media-img" [ngClass]="playlistItem.MediaLibrary.FrameWidth > playlistItem.MediaLibrary.FrameHeight ? 'landscape':'portrait'"
                    [class.active]="playlistItem.MediaLibrary.Selected" [class.inactive]="!controlCenter.IsOnline">
                    <source [src]="playlistItem.MediaLibrary.Url" [type]="playlistItem.MediaLibrary.MIMEType">
                    Browser not supported
                  </video>
                </div> -->
          </ng-template>
        </ng-template>
      </div>

      <div class="offline-msg" *ngIf="!controlCenter.IsOnline">
        <span> Offline:
          <br />
          <app-stopwatch [ticks]="secondsSinceOffline"></app-stopwatch>
        </span>
        <div id="info-icon-{{index}}" class="info-icon" (click)="showOfflineError = true">?</div>
        <div id="offline-info-msg-{{index}}" class="offline-info-msg" *ngIf="showOfflineError" (clickOutside)="showOfflineError = false"
          exclude="#info-icon-{{index}},#offline-info-msg-{{index}}">
          <span>
            This device has lost connection with the internet or server, try doing a
            remote reboot
            <!-- <a href="javascript:void(0);" class="text-link">remote reboot</a>  -->
            or turning
            the device off and on to reestablish a connection.</span>

          <a class="close-tip" (click)="showOfflineError = false"><img src="../../../../assets/images/Close-X-black.svg" /></a>
        </div>
      </div>
    </div>

    <div *ngIf="render?.data?.Checked && !isPreview" class="device-drag-icon">
      <img src="../../../../assets/images/Handle.svg" />
    </div>

    <!-- drag handle will be rendered here from parent -->
    <ng-content></ng-content>
  </div>
  <div class="manage-playlist">
    <ng-template [ngIf]="controlCenter.Checked && !isPreview">
      <img *ngIf="isExpandedPlaylist" src="../../../../assets/images/playlist-collapse.svg" (click)="togglePlaylist()" />
      <img *ngIf="!isExpandedPlaylist" src="../../../../assets/images/playlist-expand.svg" (click)="togglePlaylist()" />
      <span *ngIf="controlCenter.Playlist.Id > 0" [routerLink]="['/playlists','manage-playlist', controlCenter.Playlist.Id]">
        Edit Playlist
      </span>
    </ng-template>
  </div>
</div>