/* .page-row{
    width: 100%;
    margin-top:120px;
    margin-bottom: 40px;
}

.pagination-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-nav{
    margin-bottom: 10px;
}
.page-nav > span {
    padding: 5px;
    margin: 5px 10px;
}

.page-nav > span > a{
    cursor: pointer;
}

.page-nav > span.disabled > a{
    cursor: not-allowed;
}

.pagination li {
    margin: 4px;
    padding: 4px 2px;
    cursor: pointer;
    position: relative;
    font-weight: bold;
    font-size: 14px;
}

.pagination li a{
    cursor: pointer;
}

.pagination li.active{
    color: #107AE5;
}

.pagination li.active a{
    cursor: not-allowed;
}

.pagination li.active:after {
    content: '';
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #107AE5;
    bottom: 0;
    left: 0px;
    border-radius: 20px;
}

select option:not([value]){
    display: none;
} */

.page-wrap{
    display:flex;
    align-items: center;
}

.page-items {
    margin-right: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn-group > .selected-item {
    text-decoration: none;
    color: #B2B2B2;
}

.btn-group.open > .selected-item, .btn-group > .selected-item:hover {
    color: #222222;   
}

.btn-group .dropdown-item {
    color: #B2B2B2;
}
.btn-group .dropdown-item.active, .btn-group .dropdown-item:active {
    background-color: transparent;
    color: #222222;
}
.page-items .btn-group > .selected-item{
    border-bottom: 1px solid #B2B2B2;
    font-size: 13px;
}

.page-items .btn-group.show > .selected-item{
    border-bottom: 1px solid #222222;
}
.page-items .btn-group > .selected-item:focus{
   outline:none;
}
.page-items a{
    padding: 5px 10px;
}
.page-items a span, .page-nos a i{
    padding-left: 3px;
}
.page-wrap .page-nos{
    font-size: 13px;
    margin-right: 15px;
}
.page-nav > span {
    padding: 0 5px;
    margin: 0 15px;
    /* opacity: .5; */
    color: #B2B2B2;
}
.page-nav > span:not(.disabled):hover{
    /* opacity:1; */
    color: #222222;
}
.page-nav > span > a{
    cursor: pointer;
}

.page-nav > span.disabled > a{
    cursor: not-allowed;
}
.page-nav > span i{
    font-size: 28px;
}

.page-nos .dropdown-menu{
    left:15px !important
}
.page-items .dropdown-menu, .page-nos .dropdown-menu{
    min-width: 2.5rem;
    border: none;
    box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.25);
}
.page-items .dropdown-menu li, .page-nos .dropdown-menu li {
    text-align: center;
}
.page-items .dropdown-menu li a, .page-nos .dropdown-menu li a{
    padding: 5px 10px;
}