<div class="page-wrap">
  <div class="page-items" *ngIf="!hidePageSizeChanger">
    <div class="btn-group" dropdown [autoClose]="true" [dropup]="isUpDropdown">
      <a href dropdownToggle (click)="false" 
        aria-controls="basic-link-dropdown"  
        class="selected-item">
        {{currentPageSize}} <span class="fa fa-caret-down"></span>
      </a>

      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li *ngFor="let pageSize of pageSizes" role="menuitem">
          <a href="javascript:void(0);" 
            class="dropdown-item" 
            [class.active]="pageSize === currentPageSize" 
            (click)="setPageSize(pageSize)">{{pageSize}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="page-nos">

    <div class="btn-group" dropdown [autoClose]="true" [dropup]="isUpDropdown">
      <a href dropdownToggle (click)="false" 
        aria-controls="basic-link-dropdown"
        class="selected-item">
        Page {{currentPage}} of {{totalPages}} <i class="fa fa-caret-down"></i>
      </a>

      <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
        <li *ngFor="let page of pages" role="menuitem">
          <a href="javascript:void(0);" 
            class="dropdown-item" 
            [class.active]="page === currentPage" 
            (click)="setPage(page - 1)">{{page}}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="page-nav">
    <span [ngClass]="{disabled:currentPage === 1}">
      <a (click)="!(currentPage === 1) && setPage((currentPage - 1) - 1)">
        <!-- <img src="../../../assets/images/Arrow-left.svg"> -->
        <i class="fa fa-angle-left"></i>
      </a>
    </span>
    <span [ngClass]="{disabled:currentPage === totalPages}">
      <a (click)="!(currentPage === totalPages) && setPage((currentPage - 1) + 1)">
        <!-- <img src="../../../assets/images/Arrow-Right.svg"> -->
        <i class="fa fa-angle-right"></i>
      </a>
    </span>
  </div>
</div>