.manage-playlist-container {
    margin-top: 32px;
    white-space: nowrap;
    height: 28%;
    margin-left: 30px;
}
.skyhook-container {
    margin-top: 12px;
}
.btn-manage-save {
    border-radius: 20px;
    font-size: 15px;
    border: 1.5px solid #363636;
    background-color: transparent;
    padding: 2.5px 27px;
    font-weight: 600;
}
.btn-manage-preview {
    border-radius: 20px;
    font-size: 15px;
    border: 1.5px solid #363636;
    background-color: transparent;
    padding: 2.5px 18px;
    font-weight: 600;
}
.manage-playlist-text {
    color: #000000;
    font-size: 22px;
    font-weight: 600;
    margin-left: 12px;
}
.playlist-item-container {
    margin-left: 70px;
    width: 80%;
    margin-bottom: 70px;
}
.manage-playlist-medias {
    position: relative;
    background-color: #F2F2F2;
    border-radius: 4px;
    box-shadow: 0px 3px 7px #D9D8D8;
    height: 220px;
    width: 181px;
}

.manage-playlist-medias-img{
    object-fit: cover;
    border-radius:4px 4px 0px 0px;
}
.manage-media-details {
    height: 111px;
    font-size: 12px;
    font-weight: 600;
    color: #222222;
}
.manage-playlist-media-num {
    width: 57px;
    text-align: center;
    height: 36px;
    background-color: #C3C3C3;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 21.5%;
    border-radius: 2px;
    line-height: 35px;
}
.manage-playlist-media-name {
    text-shadow: 0 0 #9b9b9b;
    width: 135px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}
.media-slide {
    position: relative;
    margin-left: 12px;
}
.media-slide:nth-last-child(2) {
    margin-right: -12px;
}
.priority {
    cursor: pointer;
    margin-top: 26px;
}
.priority--placeholder .manage-playlist-medias {
    opacity: 0.9;
}
.media-slide-remove {
    display: none;
    position: absolute;
    top: 11%;
    right: 0%;
    z-index: 600;
}
.manage-add-box {
    position: relative;
    background-color: #F2F2F2;
    border-radius: 4px;
    box-shadow: 0px 3px 7px #D9D8D8;
    height: 220px;
    width: 181px;
    margin-top: 26px;
    margin-left: 12px;
    cursor: pointer;
}
.add-container {
    position: absolute;
    top: 46%;
    transform: translate(0, -50%);
    left: 42%;
}
.manage-media-selected-schedule {
    display: block;
    margin-left: 3%;
    margin-bottom:3%;
    height: 17px;
    width: 17px;
}
.manage-media-selected-schedule-img {
    display: none;
}
.media-slide:hover .media-slide-remove {
    display: block;
}
.media-slide:hover .manage-media-selected-schedule-img {
    display: block;
}
.media-slide:hover .manage-playlist-medias {
    background-color: #e1e1e1;
}
.manage-playlist-text-edit {
    border: none;
    color: black;
    padding: 0px;
    margin-left: 12px;
    height: 31px;
    width: 330px;
    border-bottom: 1px solid #b5b5b5;
    border-radius: 0px;
    margin-bottom: 2px;
    padding-top: 3px;
}
.device-back-arrow {
    padding: 5px 10px 7px 10px;
    border-radius: 28px;
    background-color: #F5F5F5;
    text-align: center;
    width: 40px;
    margin-left: 22px;
}
.device-back-arrow:hover {
    background-color: #EDEDED;
}


.manage-playlist-checkbox .custom-control-input:focus~.custom-control-label::before{
    box-shadow:none;
}
.manage-playlist-checkbox .manage-playlist-control-label::before {
    border-radius: 2px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    height: 20px;
    width: 20px;
}

.manage-playlist-checkbox .manage-playlist-control-label {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 13px;
}

.manage-playlist-checkbox .custom-control-input:checked~.manage-playlist-control-label{
    font-weight: 700;
}

.manage-playlist-checkbox .custom-control-input:checked~.manage-playlist-control-label::before {
    background-color: #43ADE5;
    border-radius: 2px;
    border: none;
    height: 20px;
    width: 20px;
}

.manage-playlist-control-label::after{
    top: 0.20rem;
    left: -1.55rem;
    width: 1.4rem;
    height: 1.4rem;
    background-size: 48% 81%;
}

input[type=checkbox]+label{
    cursor: pointer;
}

.manage-playlist-dropdown {
    max-width: 300px;
    width: 100%;
    position: relative;    
}

.manage-playlist-dropdown input[type='text'] {
    padding: 7px 20px;
    line-height: 1;
    height: 35px;
    font-size: 14px;
    border: 1px solid #222222;
    border-radius: 4px;
    background: url('/assets/images/dropdown-arrow.svg') no-repeat 95% 50%;
    background-size: 6px 5px;
    cursor: pointer;
    width: inherit;
    outline: none;
  }

  .manage-playlist-dropdown.drop-open input {
    border-color: #efefef;
    border-width: 1px 1px 0 1px;
    background: none !important;
    border-radius: 4px 4px 0 0;
    box-shadow: 0 2px 4px #2f2f2f13 !important;
    font-weight: 600;
}

.dropdown-container {
    background-color: #ffffff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: inherit;
    position: absolute;
    box-shadow: 0 2px 4px 0 #2f2f2f13;
    font-weight: normal;
    border: 1px solid #222222;
    border-top: 0;
    z-index: 2;
    
  }

.manage-playlist-dropdown.drop-open .dropdown-container {
    border-color: #efefef;
    border-width: 0px 1px 1px 1px;
}

  .dropdown-container > ul, .dropdown-container > div {
    font-size: 13px;
    list-style-type: none;
    padding: 0;
    max-height: 500px;
    /* overflow: auto; */
    margin-bottom: 0;
    padding-bottom: 20px;
  }

  .dropdown-container > div{
      padding: 0 25px 20px;
  }

  .dropdown-container li {
    padding: 6px 20px;
    cursor: pointer;
  }

  .dropdown-container li.selected-item {
    font-weight: 600;
    background-color: #fff;
  }