<div class="manage-playlist-container">
  <div class="d-flex flex-row">

    <div class="d-flex flex-column align-items-center" style="height:150px;">
      <a href="javascript:void(0);" (click)="goBack()">
        <div class="device-back-arrow">
          <img src="./assets/images/add-device-back-btn.svg" width="14" height="14" />
        </div>
      </a>
      <div class="mt-auto" style="margin-left:25px;">
        <button class="btn btn-default btn-manage-save" (click)="SavePlayList($event)">Save</button>
      </div>
      <div class="mt-auto" style="margin-left:25px;">
        <button class="btn btn-default btn-manage-preview" [disabled]="!hasValidMedia()" (click)="PreviewPlayList($event)">Preview</button>
      </div>
    </div>

    <div class="playlist-item-container">
      <form class="manage-playlist-form" *ngIf="playlistForm != null" [formGroup]="playlistForm">
        <div class="d-flex flex-row align-items-center flex-fill">
          <div class="form-group">
            <span *ngIf="!editManagePlaylist" (click)="onEditManagePlaylistName()" class="manage-playlist-text">
              {{managePlaylistName}}
            </span>
            <input [delayClickOutsideInit]="true" (clickOutside)="exitManagePlaylistNameEdit($event)" (keyup.enter)="editManagePlaylist = false; exitManagePlaylistNameEdit()"
              *ngIf="editManagePlaylist" [(ngModel)]="managePlaylistName" [ngModelOptions]="{standalone: true}" type="text"
              class="form-control manage-playlist-text manage-playlist-text-edit">
          </div>
        </div>
        <div class="d-flex flex-row align-items-center flex-fill">
          <div class="manage-playlist-dropdown" (clickOutside)="isShowOrientationSelectList = false" [style.width.px]="220"
            [ngClass]="{'drop-open': isShowOrientationSelectList}" style="margin-left: 12px;">
            <input type="text" readonly name="orientation" (click)="toggleOrientationSelectlist()" (keyup)="toggleOrientationSelectlist()"
              [(ngModel)]="selectedOrientation" [ngModelOptions]="{standalone: true}" autocomplete="off" />

            <div class="dropdown-container" *ngIf="isShowOrientationSelectList">
              <ul>
                <li>
                  <div class="custom-control custom-checkbox manage-playlist-checkbox">
                    <input name="playlist-orien-chk-0" type="checkbox" [(ngModel)]="isLandscape" [ngModelOptions]="{standalone: true}"
                      value="false" (click)="changeOrientationMenu($event, false)" class="custom-control-input" id="playlist-orien-chk-0">

                    <label class="custom-control-label manage-playlist-control-label" for="playlist-orien-chk-0">
                      Landscape
                      &nbsp;
                      <svg height="12" width="22">
                        <rect height="12" width="22" x="0" y="0" style="stroke: #000;fill:none;"></rect>
                      </svg>
                    </label>
                  </div>
                </li>
                <li>
                  <div class="custom-control custom-checkbox manage-playlist-checkbox">
                    <input name="playlist-orien-chk-1" type="checkbox" [(ngModel)]="isPortrait" [ngModelOptions]="{standalone: true}"
                      value="true" (click)="changeOrientationMenu($event, true)" class="custom-control-input" id="playlist-orien-chk-1">

                    <label class="custom-control-label manage-playlist-control-label" for="playlist-orien-chk-1">
                      Portrait
                      &nbsp;
                      <svg width="12" height="22">
                        <rect width="12" height="22" x="0" y="0" style="stroke: #000;fill:none;">
                        </rect>
                      </svg>
                    </label>
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="manage-playlist-dropdown" (clickOutside)="isShowDisplaySizeSelectList = false" [style.width.px]="220"
            [ngClass]="{'drop-open': isShowDisplaySizeSelectList}" style="margin-left: 12px;">
            <input type="text" readonly (click)="toggleDisplaySizeSelectlist()" (keyup)="toggleDisplaySizeSelectlist()"
              name="displaySize" [(ngModel)]="selectedDisplaySize" [ngModelOptions]="{standalone: true}" autocomplete="off" />


            <div class="dropdown-container" *ngIf="isShowDisplaySizeSelectList">
              <ul>
                <ng-container *ngFor="let item of displaySizeList; let i = index">
                  <li>
                    <div class="custom-control custom-checkbox manage-playlist-checkbox">
                      <input name="playlist-ds-chk-{{i}}" type="checkbox" [(ngModel)]="item.Checked" [ngModelOptions]="{standalone: true}"
                        value="{{item.Id}}" (click)="changeDisplaySizeMenu($event, i)" class="custom-control-input" id="playlist-ds-chk-{{i}}">

                      <label class="custom-control-label manage-playlist-control-label" for="playlist-ds-chk-{{i}}">
                        {{item.Name}}
                      </label>
                    </div>
                  </li>
                </ng-container>
                <li *ngIf="isLoadingDisplaySizes && displaySizeList.length == 0">
                  Loading...
                </li>
                <li *ngIf="!isLoadingDisplaySizes && displaySizeList.length == 0">
                  No data available
                </li>
              </ul>
            </div>


          </div>

          <div class="manage-playlist-dropdown" (clickOutside)="closeScheduleSelectlist()" [style.width.px]="240"
            [ngClass]="{'drop-open': isShowScheduleSelectList}" style="margin-left: 12px;">
            <input type="text" readonly (click)="toggleScheduleSelectlist()" (keyup)="toggleScheduleSelectlist()" name="schedule"
              [(ngModel)]="selectedSchedule" title="{{selectedSchedule}}" [ngModelOptions]="{standalone: true}" autocomplete="off" />

            <div *ngIf="!hasReceivedScheduleFormGroup" [hidden]="true">
                <app-playlist-schedule [playlistSchedule]="playlistSchedule" [isVerticalLayout]="true" (formReady)="formInitialized(scheduleFormGroupKey, $event)">
                </app-playlist-schedule>
            </div>

            <div class="dropdown-container" *ngIf="isShowScheduleSelectList">
              <div>
                <div class="row">
                  <div class="col-md-12">
                    <app-playlist-schedule [playlistSchedule]="playlistSchedule" [isVerticalLayout]="true" (formReady)="formInitialized(scheduleFormGroupKey, $event)">
                    </app-playlist-schedule>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <skyhook-sortable-list #sortable class="d-flex flex-row flex-wrap skyhook-container" ssSortableListId="manage-playlist"
          ssSortableTrigger="fixed" [ssSortableChildren]="playlistTemp" [ssSortableSpec]="managePlaylistSpec">
          <ng-template ssTemplate let-context>
            <div class="media-slide">
              <div class="priority" [ssRender]="context" #render="ssRender" [class.priority--placeholder]="render.isDragging$|async"
                [dragSource]="render.source">
                <img (click)="removePlaylist(render.data.Id, render.index)" *ngIf="render.data.Title !== 'for-add-only'"
                  class="media-slide-remove" src="/assets/images/cc-media-remove.svg" height="26" width="29" />
                <div (click)="onOpenAddMediaModal(render.data, render.index)" *ngIf="render.data.Title !== 'for-add-only'"
                  class="manage-playlist-medias">
                  <img class="manage-playlist-medias-img" src="{{render.data.ThumbnailUrl}}" alt="" height="110" width="181">
                  <div class="d-flex flex-column align-items-center manage-media-details">
                    <div class="manage-playlist-media-name">
                      {{render.data.Title}}
                    </div>
                    <div>
                      <span>{{render.data.MIMEType}}</span>
                    </div>
                    <div>
                      <span>{{commonFunctionsService.formatDuration(render.data.Duration, true)}}</span>
                    </div>
                    <div class="mt-auto w-100">
                      <div class="d-flex flex-row">
                        <div class="align-self-end manage-media-selected-schedule">
                          <img class="manage-media-selected-schedule-img" src="/assets/images/Schedule-2.svg" height="17"
                            width="17" />
                        </div>
                        <div class="manage-playlist-media-num">
                          <span>{{render.index + 1}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div (click)="openModal()" *ngIf="render.data.Title === 'for-add-only'" class="manage-add-box">
              <div class="add-container">
                <img src="/assets/images/cc-add.svg" height="24" width="24" />
              </div>
            </div>
          </ng-template>
        </skyhook-sortable-list>
      </form>
    </div>
  </div>
</div>