/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Helvetica-Neue';
}
.span-text-mac-other {
  vertical-align: -webkit-baseline-middle;
}  
.span-text-firefox {
  vertical-align: -moz-middle-with-baseline;
}
.select-mac-other {
  padding-top: 8px;
} 
.carousel { overflow: hidden; min-width: 100%; width: 0; }
.slick-list {
  height: 226px;
}
.slick-slide {
  outline: none;
  position: relative;
}

/* Floating input - start */
.floating-input-group {
  position: relative;
  margin-bottom: 20px;
}

.floating-input {
  border: 1px solid #d6d6d6;
  border-radius: 4px !important;
  height: 56px !important;
  padding-top: 20px;
  padding-left: 16px;
}

.floating-input:focus {
  outline: none;
}

.floating-label {
  color: #363636;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  left: 17px;
  top: 16px;
  /* letter-spacing: 0.6px; */
  /* z-index: 999; */
  /* font-family: 'Helvetica-Neue-Light'; */
  transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
}

.floating-input:focus ~ .floating-label,
.floating-input:valid ~ .floating-label {
  top: 4px;
  font-size: 11px;
  color: #8b8b8b;
}
.floating-input:placeholder-shown:not(:focus) ~ .floating-label {
  color: #363636;
  top: 17px;
  font-size: unset;
}
/* Floating input - end */

/* Toaster message - start */
.toast-top-right {
  top: 12px;
  right: 12px;
}
.toast-container .toast-error {
  background-image: none;
}
.toast-container .ngx-toastr {
  padding: 0;
  /* width: 297px; */
  color: #222222;
  min-height: 55px;
  border-radius: 4px;
  /* box-shadow: 0 3px 12px #999999; */
  margin-bottom: 0;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
}
.toast-container .toast-error,
.toast-container .toast-success {
  background-color: #fff;
  color: #222222;
}
.toast-container .ngx-toastr:before {
  content: '';
  width: 10px;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
}
.toast-container .ngx-toastr.toast-error:before {
  background: linear-gradient(to bottom, #f00b0b, #fd5b5b);
}
.toast-container .ngx-toastr .toast-title,
.toast-container .profile-toast-title {
  padding-left: 28px;
  padding-top: 10px;
  margin-bottom: -15px;
}
.toast-container .profile-toast-title {
  font-size: 14px;
  font-weight: 500;
  color: #222222;
}
.toast-error .toast-title {
  color: red;
}
.toast-success .toast-title {
  color: #4d9b00;
}
.toast-container .ngx-toastr.toast-success:before {
  background: linear-gradient(to bottom, #4d9b00, #7df009);
}
.toast-message {
  font-size: 14px;
  padding-left: 28px;
  line-height: 1;
  width: 80%;
  padding-top: 15px;
  padding-bottom: 15px;
}
.toast-close-button {
  opacity: 1;
  height: 100%;
  width: 40px;
  color: #00000000;
  right: 0;
  top: 0;
  position: absolute;
}
.toast-container .ngx-toastr:hover {
  box-shadow: 0 0px 12px #999999;
}
button.toast-close-button:before {
  content: '';
  background-image: url('/assets/images/Close-X-black.svg');
  height: 12px;
  width: 12px;
  right: 12px;
  top: 22px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
}
.toast-close-button:hover,
.toast-close-button:focus {
  color: transparent;
  opacity: 1;
  outline: none;
}
.toast-close-button > span {
  display: none;
}
/* Toaster message - end */